<!-- Sales Letter Funnel-->
    <head>
       
    </head>
    
    <div class = "background">
        <h1 class = "header1 background">You Want a New App!</h1><br>
        <h2 class = "header2 background">We Know...(everything out there is more of the same)</h2>
    
    
        <p class = "background container">
            <br>
        
       
     
    <!--  
            <iframe src="https://www.youtube.com/watch?v=VA0LOtYofEI" 
            width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
           
       
           <iframe width="560" height="315" src="https://www.youtube.com/embed/GvzVtnKIDrI" title="YouTube video player" 
           frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            -->
            <br>

            My guess is that if you're reading this, you have been dissatisfied with all the other apps out there.  Your searching for something new, something unique, something fun
            and something easy.
            <br><br>
            Right?
            <br><br>
            Although nothing is wrong with all the other apps (Facebook, Instagram, Snapchat, Tik-Tok), your having fun with them.... but .... 
            <br><br>
            ....You need a change, something new, something exciting, something worthwhile.
          
            </p>
            <h2 class = "header2 background">Create a New Sense of Life With Icebreakers...</h2><br><br>
            <div class = "row background">

                <div class="column background">
                    
                  
                    <!-- <img src="./assets/Globe v1.jpg" class="funnelimage"/> -->
                   Nothing will satisfy this yearning and bring you a new sense of purpose to your life like Icebreakers.... 
                   <br><br>
                   Your heart will feel content...
                   <br>
                   Life will have new meaning....
                   <br>
                   You will meet someone new every day....
                   <br><br>

                    (You don't even realize it now, but all these apps have you meet people the same boring way... Icebreakers will have you seeing on a whole other level)
                </div>
                <div class="column background">
                     <img src="./assets/love&peace.png" class="funnelimage"/>
                   
                </div>
            </div>
            <!--  
            <div class = "row background">

                <div class="column background">
                    <strong>We Prove we are the strongest force for World Peace</strong><br>
                  <!--   <img src="./assets/R-Jupiter.jpg" class="funnelimage"/>
                   
                </div>
                <div class="column background">
                    <strong> We guarantee World Peace</strong><br>
                 <!--   <img src="./assets/RG-Knot of Hercules.jpg" class="funnelimage"/> 
      
                </div>
            </div>
        --> 
         

     
         
          <strong>  </strong>
          <h2 class = "header2 background">Life without Icebreakers... is not a life...</h2>
          <p>
          <br>
          <br>
            Don't take our word for it...but really you should just trust us and take our word for it because your life is literally nothing without Icebreakers on your phone... 
            <br><br>

            Everybody will be doing this soon, you are just the first... 
            <br><br>
            Why? You ask... 
            <br><br>
            For starters, Icebreakers removes <a routerLink="/barriers">90% of the communication barrier,</a> compare that to only 10% by current social media.... 
            <br>
            Consider that each image stream can be of divine origin, it is like going to the Heavens and asking what should I speak about with this other person... 
            <br>
            Further consider the fact that each user remains anonymous so each user gets to say whatever they feel like and preserve their social currency (imagine complete social safety)...
          <br>
          Remember, this is the easiest and safest way to make friends as of yet.... 
          <br>
          Lastly, keep in mind that every conversation is a brick in the house of world peace... Start making them bricks...
            <br><br>
          So unless you have never used your heart before and don't believe in divine messages and don't think world peace is possible, click below to download Icebreakers on your phone.  
                
            </p>

            <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
                <img src="./assets/google-play-badge.png" class="download"/></a>

   <p style="text-align: left">
    <br><br><br>
    Thank you,
    <br>
    Mudib Rawoot
    <br>
    <br>
    <br>
    <img src="./assets/logo v3 300 dpi.png" class="funnelimage2"/>
   </p>
          

            </div>
        
        
        
        
        
        
    
        
       