<!-- Sales Letter Funnel-->
<head>
       
</head>

<div class = "background">
    <h1 class = "header1 background">Believe Us or Not: <br> Icebreakers - The New Heart Based Semiotic 
      <br><br>
      Social Media App That Can Only Bring Peace</h1><br>
    <h2 class = "header2 background">Get Ready to Laugh, Play, Feel Good and Connect with Icebreakers - <br>
       the Only Social Media App You'll Ever Need</h2>


    <p class = "background container">
        <br>
    
   
 
<!--  
        <iframe src="https://www.youtube.com/watch?v=VA0LOtYofEI" 
        width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
       
   
       <iframe width="560" height="315" src="https://www.youtube.com/embed/GvzVtnKIDrI" title="YouTube video player" 
       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        -->
        <br>

        Are you tired of the same old social media apps?  Do you crave something new, exciting, and fun? 
        <br><br>
        Look no further than Icebreakers - The only app that enables you to find friends <br>
        and to push for peace by holding heart based,
        connect the dots style cross cultural conversations. <br>
        Say goodbye to boredom and hello to a world of endless possiblities.
        <br><br>
       Don't believe us?
        <br><br>
   <b> Hear it straight from our users:</b> <br>
    '...Typed in my DJ name, and it showed, not only the cew label, but pictures common 
    to what is <br>happening in my music career.  I only typed a name, not DJ, 
    music or any of the sort. This app can possibly tap<br> into what you may be thinking at the 
    moment, if you push enough energy into it...<br>
    Very nice collected conciousness app to confirm any connections ...
    <br>
    A spiritual enjoyment this app can be, if you understand, and let it.'
    <br><br>
    Download Icebreakers now and start experiencing the joy of connection today!
      
        </p>
        <h2 class = "header2 background">What is the Heart Effect?</h2><br><br>
        <div class = "row background">

            <div class="column background container">
                
              
                <!-- <img src="./assets/Globe v1.jpg" class="funnelimage"/> -->
              Have you ever used your heart to find or get someting in life?  Using this application is like that.  
               <br><br>
            In the app, anonymous, faceless strangers pose a question to each other with symbols. <br> 
            The app then 
            returns a feed of randomly drawn images based on the symbols. <br> In this feed, there is supposed to 
            be a message to your question.
               <br><br>
              Are things really random or do things happen for a reason?  <br> Our experimentation shows that 
              humans have an innate  ability to draw forth an answer<br> to a question in the randomly drawn images.
               <br><br>
               WPCF says this ability stems from the heart - the Heart Effect. <br>Our heart has an effect on the randomly drawn images.
               <br><br>
               Read our Heart Effect Experiment #1 to see learn more: <br>
               <a href="/assets/The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf" 
               download="The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf">
                  Heart Effect Experiment #1
               </a>

               <br><br>
              Don't settle for mediocrity - download Icebreakers and experience the joy of authentic connection today!
            </div>
            <div class="column background">
                 <img src="./assets/Friends, love & Peace.png" class="funnelimage"/>
               
            </div>
        </div>


 
        <br><br>
        <br><br>
        <br><br>
       
      <strong>  </strong>
      <h2 class = "header2 background">Don't just socialize.  Be a part of something bigger.  Be the change with 
        Icebreakers.
      </h2>
      <p>
      <br>
      <br>
Don't settle for a life without authentic connections - download Icebreakers today and experience the 
joy of real human interaction.
        <br><br>

       With Icebreakers, you can  <a routerLink="/barriers"> remove 90% of the communication barrier </a>and 
       connect with others on a deeper level than ever before.
        <br>
        Every image stream is <a routerLink="/imagecomm">heart based </a>, guiding you 
        towards meaningful conversation and genuine connection. 
        <br><br>
Plus, because each user remains anonymous, you can feel safe and secure in expressing 
yourself without fear of judgment or social consequences.
        <br><br>
     And the best part?
        <br><br>
        Every conversation you have on Icebreakers is a brick in the house of world peace.

      <br>
By making meaningful connections with others, you will find your friends while contributing to a greater cause and 
making the world a better place one conversation at a time. <br>
Look at our <a routerLink="/appdesign">story board </a> for an example.
      <br><br>
     Don't miss out on this opportunity to be part of something bigger - download Icebreakers 
     now and start building a brighter future through genuine human connnection!
       

            
        </p>

        <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="download"/></a>
            <br><br><br>
            PS:<br>
            When you download the application, you only have to fill the following fields:<br>
            Date of Birth<br>
            Country<br>
            City<br>
            Ethinicity<br>
            Language<br>
            <br>

<p style="text-align: left">
<br><br><br>
Thank you,
<br>
Mudib Rawoot
<br>
<br>
<br>
<img src="./assets/logo v3 300 dpi.png" class="funnelimage2"/>

</p>
      

        </div>
    
    
    
    
    
    

    
   