
    <head>
       
    </head>
    
    <div class = "background">
        <h1 class = "header background">Mind Matter Interactions</h1><br><br>
    
    
        <p class = "background container">  A big component with Ghost Writer Alpha is the mind matter interaction that occurs as a user thinks about the question in mind and the application
            searches for the images that will answer the question.  How does GWA know what you mean when you choose the symbols?  How does GWA know what question you have
            in mind?  How does GWA read your intention?  The answer to these questions remain a mystery.  Modern science and philosophy has yet to provide an answer.  As part
            of the work that GWA engages in, we would like to further our understanding in the concepts behind the mind matter interactions.  This page relays some of our 
            thoughts.  Please comment on our Facebook Group as to what your thoughts are - They will be a great help in pushing these concepts forward.
            <br>
            <br>
            I think that everything is connected.  When you have a free form device like GWA that employs randomness as well as other procedures to retrieve the images, a 
            large part is left to chance.  However, is everything random?  I do not think so.  I think everything happens for a reason.  Employing this maxim, you can easily
            conclude that the images have some sort of meaning to them.  The weight of the meaning may vary from image to image and usage to usage.  I also think most of us
            are guided to a certain extent.  You cannot stray to far from the path intended for you.  I believe the images should pertain to your path.  It is like the 
            random walk in fluid dynamics.  Putting these two concepts together, it is not hard to conclude that there can be a mind matter interaction and that your questions
            can be answered with GWA.  It is still a new concept for the world and is probably post modern so approach with an eye of skeptism and do your own testing.  Check
            out our research section to find out more of what is being done in the area of mind matter interactions.
            
          
               
            </p>
    
            </div>
        
        
        
        
        
        
    
        
       