<div class = "background">
    <h1 class = "header background">Principles</h1><br><br>
    <p class = "background container " style="text-align:left" >
        
        
        1. In terms of being guided, the world follows a normal distribution. This means that most people are divinly guided.<br><br>
        2. There is a universal language held in symbols.  All things can be posed and read symbolicaly.<br><br>
        3. Intentions play a vital role in calling an answer.  <br><br>
        4. The world can live peacefully together.<br><br>
        5. A series of images can hold a symbolic answer or statement that can be percieved.  This notion is called Image Based Symbology. <br><br>
        6. We hold the power to name.<br><br>
        7. Much of the world has never communicated with each other.  This is a leading cause of problems.<br><br>
        8. All things are connected.<br><br><br>
    
    
        
           
    
    
    
    
    
    
    
    </p>
    
    </div>