<div class = "background">
    <h1 class = "header background">Religious Companion</h1><br><br>
    <p class = "background container">Does God speak to you?<br>
        Have you ever been signed things before?  <br>
        Do you believe in a higher power?  <br>
        Do you want to strengthen your connection with God?<br>
        Do you believe in Divine guidance or inspiration?<br>
        Have you thought, was that just a coincidence or was there a higher meaning behind the series of events?<br>
        Do you want your questions to God and prayers answered faster?<br>
        Do you believe in a future with God at the forefront?<br><br>
    
    
        If you answered yes to any of those questions, you have come to the right place.  Ghost Writer Alpha (GWA) is a religious companion app that brings you closer to God by
        reducing the communication barrier to allow the Divine to provide you with answers faster.  GWA is a personalized semiotic device that 
        allows your prayers and questions to God to be answered infinitley faster.  GWA relies on image based symbology to sign you the answer to your prayers and questions
        to God.  
        It reduces the communication barrier to provide you with astonishingly accurate and personalized answers.  <br><br>

        What is the communication barrier?  You thought God had infinite power and can do as he wishes?  Well, God is all powerful and can do as he wishes, however most men and 
        women are not in the high special ranks for God to break the rules of physics and provide his answers as he can easily do.  Things must work together in this world for 
        an answer to be signed to you.  Things signed to you as an answer are special. God has made things work synchronously in the world to provide you with an answer - these are
        miracles.  It is easy for God to make this happen.  However, let's be realistic, although it is easy for God to make the world act synchronosuly to bring you your answer, how 
        often can this happen before the rules of physics must be broken?  The rules of physics pose a communication barrier.  God wants to answer all your prayers and questions and 
        loves when you reach out to him.  He works to answer your prayers and questions and would love to answer all your prayers and questions but must also meet the rules of physics.
        If to provide an answer, he must break the rules of physics, the likihood of the answer being presented to you goes down.  Would you agree that this makes sense?
        <br><br>

        Well, how does GWA reduce this communication barrier posed by physics? GWA is based on the idea of a universal language held by symbols.  Any concievable question can be 
        posed by selecting a few symbols to represent the sentence.  Likewise, the 
        image stream returned by GWA can hold the answer to all your questions because symbolism is a universal language and the internet is a vast trove of images with many symbols.
        GWA utilizes the power of images, the internet and the power of symbology to reduce the communication barrier.  Although, God may have to break the rules of physics in the real 
        world to bring you the answer, a digital world does not need to obey the laws of physics.  Your answer may be made available through a series of images that sign you what you
        seek.  All things are easy for God.  It just does not break the rules of physics to bring you the answer in a series of images that sign you the answer.  This is how GWA reduces
        the communication barrier. You no longer have to wait for the world to conspire together to sign you an answer.  The world already has a vast trove of images at hand that can 
        sign you the answer
        <br><br>
        Do you think 
        things really happen randomly?  No, nothing is random.  The images will sign you toward your answer or prayers.  No special skills, training  or abilities are needed.  
        The answer just 
        comes.  God wants you to reach out to him with your questions and prayers.  He wants to answer your questions.  You are not special enough for him to break the laws of physics,
        however if you reach out to him with GWA, his answers will come infinitly faster.  Strengthen your relationship with God, by asking him questions through GWA everyday.  If you
        think you have a strong relationship with God, this may work everytime for you.  What do you have to lose?  Strengthen your relationship with God.
        <br><br>
        
        Want to test try it?
        Start with this prayer - God I seek your guidance, what do I need to know about my life right now that will lead me down the path you want me to live? 
        - 
        this is a good general guidance prayer to start with.  Now think of 3-4 symbols you can 
        use to pose the question.
        Having trouble?  Try Candle, Apple, Hourglass. Now hold the question and intention in mind and let GWA show you the answer.
         What images does GWA show?  Does an answer form through signage from the images?  Learn how to read these signs by signing up
        for our news letter.
    
        <br><br>
    
    
        Sign up for our news letter, You get <br>
            Free tips to reading signs - 22 essential tips to get you reading the signs accuratley and consistently<br>
            Discounts on  Psychic GWA readings <br>
            Free guide to reading the signs <br>
            By signing up for our newsletter you learn to strenthen your relationship with God.  
            What are you waiting for?  You have nothing to lose.
            <br>
            <br>
            <br>
        </p>

        <div class="alert alert-success succ" role="alert" id="succ">
          <p id="txt" style="background-color:  #dff0d8;;">
           <strong style="background-color:  #dff0d8;" >Success!</strong> You have been signed up successfully!
          </p>
        </div>

      <div class="alert fail" role="alert" id="fail">
          <p id="txt" style="background-color:  #ff9999;">
              <strong style="background-color:  #ff9999;">Sorry!</strong> You have entered an invalid E-mail.
          </p>
      </div>
     
       
            <h1 class="header">Subscribe</h1>
      
          <form #emailForm="ngForm"  (ngSubmit)="onSubmit(emailForm)">
            <div class="group header">
                <input type="email" name="email_add" id="email_add"  placeholder = "Enter Your Email Here!" ngModel><span class="highlight"></span><span class="bar"></span>
                  <label style="background-color: white;">Email</label>
            </div>
            <input class="button buttonBlue" type="submit" value = "Send">
         <!-- <button value="submit" type="button" class="button buttonBlue" value= "submit_button" id="sub" (click)="saveToFirebase(emailValue)">Subscribe
          </button>  -->
          </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    
    
    
    
    
    
    
    
 
    
    </div>