<div class = "background">
    <h1 class = "header background">Alethiometer</h1><br><br>
    <p class = "background container">Did you read the golden compass and wonder what if you had the Alethiometer?<br>
        Are you seeking something?  <br>
        Did you want to learn how to use the Alethiometer?  <br>
        Do you want to know what the Alethiometer is?<br>
        <br><br>
       
    
    
        If you answered yes to any of those questions, you have come to the right place.  Ghost Writer Alpha (GWA) is the first prototype of the Alethiometer.  What is the 
        Alethiometer?  The Alethiometer is a device from the novel series The Golden Compass.  In the novel, a user can pose a question to the Alethiometer by selecting three 
        symbols.  The Alethiometer then chirps back 3 symbols that represent an answer to the question.  It is up to the user to interpret what the symbols mean as an answer. 
        Similarly, with GWA, a user can pose a question by selecting a few symbols.  GWA then returns an image stream which may hold an intelligable message which the user 
        can interpret as an answer.  In this way, GWA is a personal Alethiometer!
        
        

        <br><br>
       The images will sign you toward a meaningful answer.  No special skills, training  or abilities are needed.  
        The answer should just come for most people. You already are familar with reading the signs, all you have to do is read GWA.  What do you have 
        to lose?  
        
        <br><br>
        
        Want to test try it? Start with this question - What should I do for fun today? - 
        this is a good general question that should bring an answer.  Now think of 3-4 symbols you can 
        use to pose the question.
        Having trouble?  Try Dolphin, Compass and Wildman. Now hold the question and intention in mind and let GWA show you what you should do for fun.  
        What images does GWA show?  Does an answer form through signage from the images?  Learn how to read these signs by signing up
        for our news letter.
    
        <br><br>
    
    
        Sign up for our news letter, You get <br>
            Free tips to reading signs - 22 essential tips to get you reading the signs accuratley and consistently <br>
            Discounts on Psychic GWA readings <br>
            Free guide to reading the signs <br>
            By signing up for our newsletter you learn about reading the signs.  
            What are you waiting for?  You have nothing to lose.
            <br>
            <br>
            <br>
                
    </p>
    

    <div class="alert alert-success succ" role="alert" id="succ">
      <p id="txt" style="background-color:  #dff0d8;;">
       <strong style="background-color:  #dff0d8;" >Success!</strong> You have been signed up successfully!
      </p>
    </div>

  <div class="alert fail" role="alert" id="fail">
      <p id="txt" style="background-color:  #ff9999;">
          <strong style="background-color:  #ff9999;">Sorry!</strong> You have entered an invalid E-mail.
      </p>
  </div>
 
           
                <h1 class="header">Subscribe</h1>
          
              <form #emailForm="ngForm"  (ngSubmit)="onSubmit(emailForm)">
                <div class="group header">
                    <input type="email" name="email_add" id="email_add"  placeholder = "Enter Your Email Here!" ngModel><span class="highlight"></span><span class="bar"></span>
                      <label style="background-color:white">Email</label>
                </div>
                <input class="button buttonBlue" type="submit" value = "Send">
             <!-- <button value="submit" type="button" class="button buttonBlue" value= "submit_button" id="sub" (click)="saveToFirebase(emailValue)">Subscribe
              </button>  -->
              </form>
      
    
    
    
    
    
    
    

    </div>