
    <head>
       
    </head>
    
    <div class = "background">
        <h1 class = "header background">Facebook Page</h1><br><br>
    
    
        <p class = "background container">Ghost Writer Alpha tries to keep track of who is aware of our efforts.  Each pin point on the map below represents someone who has visited our
            site.  We have  over 50,000 downloads.  Hopefully we grow fast and you spread the word of our efforts.
            <br>
            <br>
       
     
    
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dUljGMxYXq-t5tsahoGz_j4NTl6rcZh0&ll=17.196291417984913%2C14.382305099999996&z=3" 
            width="100%" height="1000%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
       
    
          
                
            </p>
            </div>
        
        
        
        
        
        
    
        
       