
<div class = "background">
<h1 class = "header background">Psychic Reading</h1><br><br>

<p class = "background container">Do you want to have your fortune read?<br>
    Have you ever thought you could read fortunes?  <br>
    Do you want to get better at reading fortunes?  <br>
    Do you believe you have psychic abilities?<br>
    Have you been searching for an alternative to Tarot Card Readings?<br>
    Do you have questions about your love life?<br>
    Do you have questions on the future of your career?<br>
    Do you have questions about your path in life?<br><br>


    If you answered yes to any of those questions, you have come to the right place.  Ghost Writer Alpha (GWA) allows you to read your own fortune or have your fortune read 
    to you 
    by someone else.  GWA is a personalized semiotic device that 
    can answer questions and read your fortune.  GWA relies on image based symbology to sign you your answer or read your fortune.  It can be astonishingly accurate.  <br><br>

    GWA is based on the idea of a universal language held by symbols.  Any concievable question can be posed by selecting a few symbols to represent the question.  
    Likewise, the 
    image stream returned by GWA can hold the answer to all your questions because symbolism is a universal language and the internet is a vast trove of images with many 
    symbols.
    <br><br>
    Do you think 
    things really happen randomly?  No, nothing is random.  The images will sign you toward your answer or fortune.  No special skills, training  or abilities are needed.  
    The answer just 
    comes.  Anyone and Everyone can get it to work the majority of the time.  If you have psychic abilities, even better, you will be able to get this app to work every time.
    <br><br>
    
    Want to test try it?
    Start by thinking of a question - What do I need to know about my life right now? - this is a good general place to start.  Now think of 3-4 symbols you can use to pose
     the question.
    Having trouble?  Try Candle, Apple, Hourglass. Now hold the question and intention in mind and let GWA show you the answer.
     What images does GWA show?  Does an answer form through signage from the images?  Learn how to read these signs by signing up
    for our news letter.

    <br><br>


    Sign up for our news letter, You get <br>
        Free tips to reading signs - 22 essential tips to get you reading the signs and excersizing your psychic ability <br>
        Discounts on Psychic GWA readings <br>
        Excersize Guide to Developing your Clairvoyant skills <br>
        Free guide to reading the signs <br>
        What are you waiting for? Sign up for our newsletter. You have nothing to lose.
        <br>
        <br>
        <br>
    </p>
    
        <div class="alert alert-success succ" role="alert" id="succ">
            <p id="txt" style="background-color:  #dff0d8;;">
             <strong style="background-color:  #dff0d8;" >Success!</strong> You have been signed up successfully!
            </p>
          </div>

        <div class="alert fail" role="alert" id="fail">
            <p id="txt" style="background-color:  #ff9999;">
                <strong style="background-color:  #ff9999;">Sorry!</strong> You have entered an invalid E-mail.
            </p>
        </div>
       
            <h1 class="header">Subscribe</h1>
      
          <form #emailForm="ngForm"  (ngSubmit)="onSubmit(emailForm)">
            <div class="group header">
                <input type="email" name="email_add" id="email_add"  placeholder = "Enter Your Email Here!" ngModel><span class="highlight"></span><span class="bar"></span>
                  <label style="background-color: white;">Email</label>
            </div>
            <input class="button buttonBlue" type="submit" value = "Send">
         <!-- <button value="submit" type="button" class="button buttonBlue" value= "submit_button" id="sub" (click)="saveToFirebase(emailValue)">Subscribe
          </button>  -->
          </form>
        
     










</div>
