

<div class = " container background">
    <!-- Event snippet for Donation conversion page 
<script>
    gtag('event', 'conversion', {'send_to': 'AW-10946475945/nMm2CLyJlpEYEKnv1-Mo'});
  </script>

  -->
  
    <h1 class = "header background">Thank You For Your Donation!</h1><br><br>
 
    <div class = "row background">

        <div class="column background">
            
             You did something Great!  You have given the world hope for World Peace.  The money will go to good use.

             <br><br>
             Good things take time, but time is of the essence, so we must make haste.
            
           
        </div>
      
    </div>
    <div class = "row background">

        <div class="column background">
            
            <strong>Sign up for our news letter below to stay in tune with the latest news and updates from WPCF.</strong><br>
          
           
        </div>
      
    </div>
    <div class = "row background">


        <div class="column background">
            <strong> Become a peace maker and push for World Peace by holding a cross-cultural conversation with our application Icebreakers.  
                Communicating across cultures has never been
                 <a routerLink="/barriers">easier</a>. Every cross cultural conversation is a brick in the house of peace.
                Download the application, register a profile and follow our <a routerLink="/appdesign">storyboard</a>.
            </strong><br>
            <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="download"/></a>
    
        </div>
    </div>

    </div>