

<div class = " container background">
        <!-- Event snippet for Donation conversion page
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-10946475945/Nfd0CK23kJEYEKnv1-Mo'});
      </script>
    -->
    <h1 class = "header background">Thank You For Subscribing!  Check your Inbox and make sure to accept messages from mrawappt1&#64;gmail.com </h1><br><br>
 
    <div class = "row background">

        <div class="column background">
            
            We will keep you up to date with the latest news, articles and activities regarding the World Peace Catalyst Fund.  You have now joined forces with the World's 
                Strongest Force
                for Peace.
       
            
           
        </div>
      
    </div>
    <div class = "row background">

        <div class="column background">
            
            <strong>Donate for World Peace Now</strong><br>
            <a routerLink="/donate"> 
            <img src="./assets/donate button.png" class="donatebutton"/>
        </a>
           
        </div>
      
    </div>
    <div class = "row background">


        <div class="column background">
            <strong> Push for World Peace by holding a cross-cultural conversation with our application Icebreakers.  Communicating across cultures has never been
                 <a routerLink="/barriers">easier</a>.  Every cross-cultural conversation with Icebreakers is a brick in the house of peace.
                Download the application, register a profile and follow our <a routerLink="/appdesign">storyboard</a>.
            </strong><br>
            <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="download"/></a>
    
        </div>
    </div>

    </div>