<!-- Donation Funnel 2-->
<head>
       
</head>

<div class = "background">
    <h1 class = "header1 background">Believe us or not, <br>
      WPCF can all but guarantee World Peace?</h1><br>
    <h2 class = "header2 background">I started a project that <strong> gurantees</strong> world peace.  
      That's right. <strong> Gurantees</strong> .  
        How you say?  Well, let me explain.</h2>


    <p class = "background container">
        <br>
    
   

        <br>

        I have spent about 30k on this project out of my own pocket. I have also spent about 50k of Google Grant money. I have added in about 400k+ worth of work into the 
        project. We have a working application, a full argument and are working to expand.
        <br><br>

        It should be easy to see that if we knew enough about each other, we would know what to say and what not to say to keep the peace.  If we understood each other, we would know 
how to interact with each other without disturbing the peace. 
        <br><br>
        If you don't believe me, just look at how many world peace non profits deal with teaching peaceful human 
        to human interactions.  They rely on the knowledge of the words and actions that separate us and that binds us.  This knowledge is what we have learned over the thousands of 
        years that 
        have passed as the world has evolved.
        <br><br>
    </p>
        <h2 class = "header2 background"> This knowledge is special  </h2>
        
    <p class = "background container">
        <br><br>
        
        There is only so much of it and there are only so many people who have it.  We need to have more of this knowledge and we need to 
        educate more people with this knowledge.
        <br><br>
        While many non-profit organizations focus on teaching people how to use this knowledge, there is no organization that deals with obtaining this 
        knowledge until now.  The World Peace Catalyst Fund has devised a methodology that obtains thousands of years worth of this bonding knowledge daily.
        <br><br>
        If you've made it this far, I assume your very interested in world peace.  So much so that you still want to know how the World Peace Catalyst Fund can gurantee World Peace.
        Well, like I said, it should be easy to see that if we knew enough about each other, we would know what to say and what not to say to keep the peace.  Currently, we know little. 
         If you 
        follow our call to action, we will learn more and soon we will know enough to keep the peace.
        <br><br>

        
          
      
        </p>
        <h2 class = "header2 background">  So what is our call to action?</h2><br><br>
        <div class = "row background ">
            <div class="column background "></div>
            <div class="column background ">
                
              
                <!-- <img src="./assets/Globe v1.jpg" class="funnelimage"/> -->
                Well, the World Peace Catalyst Fund has created a semiotic social media application that reduces the communication barrier by 90%, is safe and
                allows 
               for preservation of social currency.  Compare the 90% reduction to current social media like Facebook and Instagram which only reduces the communication barrier by 20%.
               <br><br>
               <strong> Our Call To Action</strong> is to safely hold a cross-cultural conversation with our application, Icebreakers. With our 
        application, Icebreakers, you can safely hold a cross-cultural conversation with someone from a different culture.  In addition, Icebreakers, relies on semiotics (natural 
        messaging), 
        which means it is an effective way to reveal the knowledge of what separates and what binds us.
               <br><br>
               So, we say we can gurantee peace because if everyone follows our call to action to hold a cross cultural application, we can reveal the bonds of society (knowledge of what 
               binds and what 
               separates us).  We can reveal thousands of years worth of this knowledge daily.  With this knowledge, politicians can then construct programs that facilitate world peace as
                opposed to wars.  <Strong>This will keep the peace.</Strong>
               <br><br>
               We have written out and outlined the full rationale behind this argument.  If you are interested in going deeper, please read our published reports (11 in total).  
               Together, the form the <strong> Treatesies 
               of World Peace. </strong>
               <br><br>
               <br><br>

             
            </div>
            <div class="column background">
                 <img src="./assets/love&peace.png" class="funnelimage"/>
               
            </div>
        </div>
        <!--  
        <div class = "row background">

            <div class="column background">
                <strong>We Prove we are the strongest force for World Peace</strong><br>
              <!--   <img src="./assets/R-Jupiter.jpg" class="funnelimage"/>
               
            </div>
            <div class="column background">
                <strong> We guarantee World Peace</strong><br>
             <!--   <img src="./assets/RG-Knot of Hercules.jpg" class="funnelimage"/> 
  
            </div>
        </div>
    --> 
     

 
     
      <strong>  </strong>
        <br><br>
      <br><br>
      <br><br>
        <br><br>
          <br><br>
      <h2 class = "header2 background">  Who? YOU</h2><br><br>
      <h2 class = "header2 background">  When?  ANYTIME</h2><br><br>
      <h2 class = "header2 background">  Where? ANYWHERE</h2><br><br>
   

      <h2 class = "header2 background">  Why use Icebreakers?</h2><br><br>
        <p class = "background container"> The first report is called <a routerLink="/imagecomm"> ‘Image Mediated Conversations’, </a>  ‘Image Mediated Conversations’ and illustrates why Icebreakers can reveal the latent bonds of society. 
            It explains the design of Icebreakers and the purpose of the images in the conversation. I use a verse from the Quran to showcase the power of randomly drawn images.
            <br><br>
            The second report, <a routerLink="/statistics">>‘Statistical Argument for World Peace’ </a> highlights why World Peace is possible and why it is a reasonable expectation within our lifetimes. 
            It has been understood qualitatively that if we knew enough about each other, we would know what to do and say to avoid conflict. I provide a quantitative 
            analysis drawing on analogous arguments from the sciences to establish that World Peace is a viable reality and is the natural progression of humankind.
            <br><br>
            The third report, <a routerLink="/barriers">‘Barriers to Communication’</a> shows why Icebreakers is different from conventional social media. It explains how the communication barrier 
            is reduced by 90%, compared to the 10% by conventional social media. It also demonstrates that there is complete social safety when using Icebreakers.
            <br><br>
            The fourth report,<a routerLink="/anonymity">‘Power of Anonymity’ </a>  shows why Icebreakers uses anonymity in establishing initial connections. It further explains the design and power 
            of Icebreakers. It reiterates the aspect of social safety.
            
        </p>
        <h2 class = "header2 background">  What is Icebreakers?</h2><br><br>
        <p class="background container">Icebreakers is a new semiotic social media application that reduces the communication barrier by 90% and is intelligently designed to reveal 
          the latent bonds of society. For these reasons, the World Peace Catalyst Fund is trying to popularize the use of Icebreakers as a social media application to make initial 
          contact with friends. Follow our storyboard, located at <a routerLink="/appdesign"> App Design, 

          </a> for a step-by-step guide to the mechanism. (When the
          translation feature is added, the conversations can take place in the users respective languages) </p><br><br>
          <img src="./assets/sb5.png" class ="sbimage" >
          <img src="./assets/sb10.png" class ="sbimage" > 
          <img src="./assets/sb13.png" class ="sbimage" ><br><br>
         <!--  <div class = "row background ">
            <div class="column2 background "><img src="./assets/sb1.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb2.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb3.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb4.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb5.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb6.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb7.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb8.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb9.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb10.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb12.png" class ="sbimage" ></div>
            <div class="column2 background "><img src="./assets/sb13.png" class ="sbimage" ></div>
        </div>-->
        <h2 class = "header2 background">  How?</h2><br><br>
        <p class = "background container"> The first report, <a routerLink="/questioning"> ‘Mass Systemic Questioning’, </a> explains how the social mechanism if performed by the masses, will uncover thousands 
            of years of understanding daily through social mining with Icebreakers. Albeit weird, it is safe and seems sure to guarantee results. I use a verse from the Quran 
            to show that there we as humans have been charged to learn about each other and that the use of Icebreakers brings us closer to God, as well as World Peace.
            <br><br>
            The second report, <a routerLink="/convowell">‘Conversation Wells’,  </a>shows how the current progression of affairs between two hostile nations proceeds down a standard path toward violence. 
            It also shows how the social bonds of society, revealed through your use of Icebreakers, can be used to avert war.
            The third report, ‘Current Politics/Future Politics’ showcases how the current mechanism of politics works and offers an alternative future mechanism of 
            politics with the knowledge gained from the mass use of Icebreakers. It further shows how wars can be stopped and explains the power of the people.
            <br><br>
            The fourth report <a routerLink="/caseRussiaUkraine">‘Case Study – Russia/Ukraine War’, </a> shows how these concepts apply to reallife modern-day situations. These concepts can be abstracted to 
             ongoing two-nation hostility (war) in the world. The report gives a clear example of how the use of the social bonds between Russia and Ukraine created a 
             force against war. You will clearly see the potential of Icebreakers from this report.
             <br><br>
            The fifth report, <a routerLink="/final">‘Final States’,</a> proves how the world could look and be governed in a final state of world peace. I offer a way for the world to come 
            together to one table and deal with their internal and foreign affairs with little disruption to their current mode of practice. This is just one potential 
            solution but gives a clear illustration of the way the world could work.
        </p>
            <h2 class = "header2 background">What do you think?  Doesn't this <strong>guarantee</strong> World Peace?</h2>
      <p  class = "background container">
      <br>
      <br>
      You reach this letter because you are interested in donating to world peace.  We need your support to expand and popularize our program.I have spent about 30k on this
       project out of my 
      own pocket.  I have also spent about 50k of Google Grant money.  I have added in about 400k+ worth of work
      into the project.  We have a working application, a full argument and are working to expand.

   
        <br><br>

        Could we use your support?  The World Peace Catalyst Fund makes every dollar count and is the strongest force for world peace.  Who else can say they can 
        guarantee world peace?
        <br><br>
        We have immediate need for funding to support the following initiatives:
<br><br>
        50k to run a pilot program
        <br>50k for development
        <br>10k for translational work.
        

            
        </p>

        <form action="" class=" background container" #donateForm="ngForm"  (ngSubmit)="onSubmit(donateForm)">
            <!--Grid row-->
            <div class="background container">
              <!--Grid column-->
              <div class="background container">
                <p class=" background container">
                  <strong class=" background container">Donate a custom amount:</strong>
                </p>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="background container col-auto ">
                <!-- Email input -->
                <div class="form-outline  background container col-auto ">
                  <input type="email" class="form-control background container col-auto " 
                  name="donate_amount" id="donate_amount"  placeholder = "Donation Amount" ngModel/>
                  <label for="cars">Choose a currency:</label>
                  <select name="currency" id="currency" placeholder = "Donation Amount" [(ngModel)]="donationCurrency">
                    <option value="USD">$ US Dollar</option>

                    <option value="AFN">&#1547; Afghani</option>
                    <option value="ARS">&#36; Argentine Peso</option>
                    <option value="AUD">&#36; Australian Dollar</option>

                    <option value="BSD">&#36; Bahamian Dollar</option>
                    <option value="BBD">&#36; Barbadian dollar</option>
                    <option value="BMD">&#36; Bermudian dollar</option>
                    <option value="BOB">&#36;&#98; Boliviano</option>
                    <option value="BND">&#36; Brunei Dollar</option>
                    <option value="BGN">&#1083;&#1074; Bulgarian Lev</option>
                    <option value="BIF">Burundi Franc</option>

                    <option value="CAD">&#82; Canadian Dollar</option>
                    <option value="BAM">&#75;&#77; Convertible Mark</option>

                    <option value="DKK">&#107;&#114; Danish Krone</option>
                    <option value="AMD">Dram</option>


                    <option value="AED">Emirati Dirham</option>
                    <option value="EUR">&euro; Euro</option>

                    <option value="AWG">Florin</option>

                    <option value="CHF">&#67;&#72;&#70; Franc</option>

                    <option value="HKD">&#36; Hong Kong Dollar</option>

                    <option value="INR">&#x20B9; Indian Rupee</option>

                    <option value="AOA">Kwanza</option>

                    
                    <option value="ALL">&#76;&#101;&#107; Lek</option>

                    <option value="ANG">&#402; Netherlands Antillean Guidler</option>
                    <option value="NZD">&#36; New Zealand Dollar</option>

                    <option value="GBP">&#163; Pound</option>

                    <option value="BRL">&#82;&#36; Real</option>
                    <option value="RON">&#108;&#101;&#105; Romanian Leu</option>

                    <option value="ZAR">&#82; South African Rand</option>
                    <option value="SEK">&#107;&#114; Svensk Krona</option>

                    <option value="BDT">Taka</option>
                    <option value="TRY">&#165; The Turkish Lira</option>


                    <option value="JPY">&#165; Yen</option>

                   

         <!--            <option value="audi">Manat</option> -->
                
          
                    

                   
                   
                  
                   
                   
                   
                  </select>
                  <label class="form-label background container col-auto " for="form5Example21"></label>
                </div>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="background container " >
                <!-- Submit button -->
                <button type="submit" class="btn background container btn-outline-dark col-auto ">
                  Donate
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>

<p style="text-align: left">
<br><br><br>
Sincerely,
<br><br>
Mudib Rawoot
<br>
President of the World Peace Catalyst Fund
<br>
<br>
<img src="./assets/logo v3 300 dpi.png" class="funnelimage2"/>
</p>
      

        </div>
    
    
    
    
    
<!-- 

    
   Do you want world peace?  I started a project that gurantees world peace.  That's right.  Gurantees.  How you say?  Well, let me explain.

It should be easy to see that if we knew enough about each other, we would know what to say and what not to say to keep the peace.  If we understood each other, we would know 
how to interact with each other without disturbing the peace.  If you don't believe me, just look at how many world peace non profits deal with teaching peaceful human 
to human interactions.  They rely on the knowledge of the words and actions that separate us and that binds us.  This knowledge is what we have learned over the thousands of years that 
have passed as the world has evolved.

This knowledge is special.  There is only so much of it and there are only so many people who have it.  We need to have more of this knowledge and we need to 
educate more people with this knowledge.  While many non-profit organizations focus on teaching people how to use this knowledge, there is no organization that deals with obtaining this 
knowledge until know.  The World Peace Catalyst Fund has devised a methodology that obtains thousands of years worth of this bonding knowledge daily.

If you've made it this far, I assume your very interested in world peace.  So much so that you still want to know how the World Peace Catalyst Fund can gurantee World Peace.
Well, like I said, it should be easy to see that if we knew enough about each other, we would know what to say and what not to say to keep the peace.  Currently, we know little.  If you 
follow our call to action, we will learn more and soon we will know enough to keep the peace.  

So what is our call to action?  Well, the World Peace Catalyst Fund has created a semiotic social media application that reduces the communication barrier by 90%, is safe and allows 
for preservation of social currency.  Compare the 90% reduction to current social media like Facebook and Instagram which only reduces the communication barrier by 20%.  

With our 
application, Icebreakers, you can safely hold a cross-cultural conversation with someone from a different culture.  In addition, Icebreakers, relies on semiotics (study of signs), 
which means it is an effective way to reveal the knowledge of what separates and binds us.

So, we say we can gurantee peace because if everyone follows our call to action to hold a cross cultural application, we can reveal the bonds of society (knowledge of what binds and what 
separates us).  We can reveal thousands of years worth of this knowledge daily.  With this knowledge, politicians can then construct programs that facilitate world peace as opposed to wars.

We have written out and outlined the rationale behind this argument.  If you are interested in going deeper, please read our published reports (11 in total).  
Together, the form the Treatesies 
of World Peace.

You reach this letter because you are interested in donating to world peace.  We need your support to expand and popularize our program.I have spent about 30k on this project out of my 
own pocket.  I have also spent about 50k of Google Grant money.  I have added in about 400k+ worth of work
into the project.  We have a working application, a full argument and are working to expand.


   Could we use your support.  The World Peace Catalyst Fund makes every dollar count and is the strongest force for world peace.  Who else can say they can 
guarantee world peace?

We have immediate need for funding to support the following initiatives:

50k to run a pilot program
50k for development
10k for translational work.

Sincerly,

Mudib Rawoot
President of the World Peace Catalyst Fund

 -->