
<!--<head><script id="mcjs">
!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}
(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3e7c3db15d322c27911af5fc8/ecf5548ba7c047657a495a2f8.js");
</script>
</head>

<head> 
Global site tag (gtag.js) - Google Analytics 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H875C370F9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

 
// gtag('config', 'AW-10946475945'); 
  gtag('config', 'G-H875C370F9');

</script>
</head>


-->
<app-banner></app-banner>
<app-navbar></app-navbar>


<router-outlet></router-outlet>
<app-footer></app-footer>
<!--  -->
