
<div class = "alert">
    <div class="container text">
        <p class = "text">
                      
           
            Please take our peace survey to help us better serve you: 
            <a href='https://s.surveyplanet.com/9xqd80k9'> General Peace Survey</a>
            <br>
            Come check out our collaboration with
            <a href='https://medium.com/@cleanaironea/open-letter-to-h-e-8ba8fbf13763'> Clean Air One Atmosphere at the Clean Air Forum Lagos 2024.</a>
        </p>
    </div>
</div>