<!-- Sales Letter Funnel-->
<head>
       
</head>

<div class = "background">
    <h1 class = "header1 background">Icebreakers: The Mobile App That Will Revolutionize the Way You Connect with Others</h1><br>
    <h2 class = "header2 background">Get Ready to Laugh, Play and Connect with Icebreakers - the Only Mobile App You'll Ever Need</h2>


    <p class = "background container">
        <br>
    
   
 
<!--  
        <iframe src="https://www.youtube.com/watch?v=VA0LOtYofEI" 
        width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
       
   
       <iframe width="560" height="315" src="https://www.youtube.com/embed/GvzVtnKIDrI" title="YouTube video player" 
       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        -->
        <br>

        Are you tired of the same old mobile apps?  Do you crave something new, exciting, and fun?  
        <br><br>
        Look no further than Icebreakers - the app that will change the way you connect with others.  Say goodbye to boredom and hello to a world of endless possiblities.
        <br><br>
       Don't believe us?
        <br><br>
    Hear it straight from our users: 'Oh fudge yea, this game is interesting VERY VERY INTERESTING!'
    <br><br>
    Download Icebreakers now and start experiencing the joy of connection today!
      
        </p>
        <h2 class = "header2 background">Say Goodbye to Boring Mobile Apps and Hello to Endless Possibilities with Icebreakers</h2><br><br>
        <div class = "row background">

            <div class="column background">
                
              
                <!-- <img src="./assets/Globe v1.jpg" class="funnelimage"/> -->
              Are you yearning for something more in life?  Something that brings a new sense of purpose and fulfillment?  
               <br><br>
               Look no further than Icebreakers - the mobile app that will change the way you connect with others.
               <br>
              With Icebreakers, your heart will feel content and your life will have new meaning
               <br>
               With Icebreakers, you'll meet someone new every day and see the world in a whole new way.
               <br><br>

              Don't settle for mediocrity - download Icebreakers and experience the joy of authentic connection today!
            </div>
            <div class="column background">
                 <img src="./assets/love&peace.png" class="funnelimage"/>
               
            </div>
        </div>


 
     
      <strong>  </strong>
      <h2 class = "header2 background">Discover the Fun, Easy, and Unique World of Icebreakers - the Mobile App Everyone is Talking About</h2>
      <p>
      <br>
      <br>
Don't settle for a life without authentic connections - download Icebreakers today and experience the joy of real human interaction.
        <br><br>

       With Icebreakers, you can  <a routerLink="/barriers"> remove 90% of the communication barrier </a>and connect with others on a deeper level than ever before.
        <br>
        Every image stream is like a <a routerLink="/imagecomm">divine message </a>, guiding you towards meaningful conversation and genuine connection. 
        <br><br>
Plus, because each user remains anonymous, you can feel safe and secure in expressing yourself without fear of judgment or social consequences.
        <br><br>
     And the best part?
        <br><br>
        Every conversation you have on Icebreakers is a brick in the house of world peace.
      <br>
By making meaningful connections with others, you're contributing to a greater cause and making the world a better place one conversation at a time. 
      <br><br>
     Don't miss out on this opportunity to be part of something bigger - download Icebreakers now and start building a brighter future through genuine human connnection!
       

            
        </p>

        <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="download"/></a>

<p style="text-align: left">
<br><br><br>
Thank you,
<br>
Mudib Rawoot
<br>
<br>
<br>
<img src="./assets/logo v3 300 dpi.png" class="funnelimage2"/>
</p>
      

        </div>
    
    
    
    
    
    

    
   