
    <head>
       
    </head>
    
    <div class = "background">
        <h1 class = "header1 background">Help Bring the Symbols of Egypt!</h1><br>
        <h2 class = "header2 background">Learn how you can comment and share symbols!</h2>
    
    
        <p class = "background container">
            <br>
        
       
     
    <!--  
            <iframe src="https://www.youtube.com/watch?v=VA0LOtYofEI" 
            width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            -->
       
           <iframe width="560" height="315" src="https://www.youtube.com/embed/GvzVtnKIDrI" title="YouTube video player" 
           frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
          
            </p>
            <h2 class = "header2 background">Why you should fund our project?</h2><br><br>
            <div class = "row background">

                <div class="column background">
                    
                    <strong>This project is a supporting pillar of World Peace</strong><br>
                    <img src="./assets/Globe v1.jpg" class="funnelimage"/>
                   
                </div>
                <div class="column background">
                    <strong>We are creating 40 brand new illustrations of the symbols of Egypt</strong><br>
                    <img src="./assets/Sun.jpg" class="funnelimage"/>
                   
                </div>
            </div>
            <div class = "row background">

                <div class="column background">
                    <strong>We Prove we are the strongest force for World Peace</strong><br>
                    <img src="./assets/R-Jupiter.jpg" class="funnelimage"/>
                   
                </div>
                <div class="column background">
                    <strong> We guarantee World Peace</strong><br>
                    <img src="./assets/RG-Knot of Hercules.jpg" class="funnelimage"/>
      
                </div>
            </div>
            <p>

     
         
          <strong> Back this project Now!!!!</strong>
          <br>
          <br>

          <iframe src="https://www.kickstarter.com/projects/ghostwriteralpha/art-for-world-peace/widget/card.html?v=2" 
          width="220" height="420" frameborder="0" scrolling="no"></iframe>
                
            </p>

          

            </div>
        
        
        
        
        
        
    
        
       