
    <head>
       
    </head>
    
    <div class = "background">
        <h1 class = "header background">Master Your Deen Challenge</h1><br><br>
    
    
        <p class = "background container">  
            <br>
            <br>
            Deen is an islamic concept which there is no one to one translation in english.  It can be described as the balance of your compliance with divine law, the 
            valuation system you believe and adopt, your character and your deeds.  It refers to your way of life. It corresponds to the West's concept of finding
            a purpose in your life.  If you have found your purpose, all things in your life relate and all your actions can be derived to your purpose.
             Similarly, if you have mastered your deen, you are guided and are 
            in flow with the universe. If you have mastered your deen, you will be rewarded in this world, your questions will be answered and you can call for things as you
            have a strong relationship with the divine.  In Islam, everyone should strive to master their deen.  What does this concept have to do with GWA?
          
                <br>
                <br>
             If you have mastered your deen, you can expect GWA to answer your questions the majority of the time.  Contrast this with a regular who has not mastered their 
             deen - their questions may still be answered to GWA, howver it will not happen as frequently.  The Master your Deen challenge is - Can you get GWA to answer
             your questions the majority of the time?  Everyone has the ability to do this.  Does it work for you?   
                <br>
                <br>
                This is similar to asking God a question and waiting for him to sign you an answer.  For some of those questions, the answer can be provided right away, 
                however the world has to work synchronously to sign you the answer.  For those questions where the answer can be provided right away, GWA can provide you 
                with the answer right away.  You no longer have to wait for the world to act synchronously.  The limiting factor in answering your questions is your
                relationship with the divine - have you mastered your deen?
                
            </p>
    
            </div>
        
        
        
        
        
        
    
        
       