.background {

    background-color: white(0, 0, 0); 
    color: black;
    font-size: 18px;
  text-align:center;
    
  }
  .header{
    text-align: center;
    font-size: 30px;
    color: black;
  }/* You can add global styles to this file, and also import other style files */

  *{background-color:white;}

