<div  class = "background">

    <h1 class = "header">Reading Materials</h1>
    
    <br><br>
    <p class = "background container" style="text-align: left;">
        
        1. 2015, June the Playboy interview with Reza Aslan. Playboy ()<br>
2. Parsa, A.F., 2004, March. Visual semiotics: how still images mean? Interpreting still images by using semiotic approaches. In 2nd International Symposium Communication in The Millennium: A Dialogue Between Turkish and American Scholars, In Co-operation with University of Texas, Anadolu University and İstanbul University (pp. 843-853).<br> 
3. "Din." In The Oxford Dictionary of Islam. Ed. John L. Esposito. Oxford Islamic Studies Online. 11-Jun-2019. <http://www.oxfordislamicstudies.com/article/opr/t125/e541>.<br>
4. "Charles Sanders Peirce." In The Stanford Encyclopedia of Philosophy. Robert Burch.  2014.  <https://plato.stanford.edu/entries/peirce/>.<br>
5. Yang, Y., Teo, C.L., Daumé III, H. and Aloimonos, Y., 2011, July. Corpus-guided sentence generation of natural images. In Proceedings of the Conference on Empirical Methods in Natural Language Processing (pp. 444-454). Association for Computational Linguistics.<br>
6. Mao, J., Xu, W., Yang, Y., Wang, J. and Yuille, A.L., 2014. Explain images with multimodal recurrent neural networks. arXiv preprint arXiv:1410.1090.<br>
7. Farhadi, A., Hejrati, M., Sadeghi, M.A., Young, P., Rashtchian, C., Hockenmaier, J. and Forsyth, D., 2010, September. Every picture tells a story: Generating sentences from images. In European conference on computer vision (pp. 15-29). Springer, Berlin, Heidelberg.<br>
8. Kalchbrenner, N., Grefenstette, E. and Blunsom, P., 2014. A convolutional neural network for modelling sentences. arXiv preprint arXiv:1404.2188.<br>
9. You, Q., Jin, H., Wang, Z., Fang, C. and Luo, J., 2016. Image captioning with semantic attention. In Proceedings of the IEEE conference on computer vision and pattern recognition (pp. 4651-4659).<br>
10. Chaudhari, C.P. and Devane, S., 2019. Captioning the Images: A Deep Analysis. Computing, Communication and Signal Processing, pp.987-999.<br>
11. Park, C.C. and Kim, G., 2015. Expressing an image stream with a sequence of natural sentences. Advances in neural information processing systems, pp.73-81.<br>
12. He, K., Zhang, X., Ren, S. and Sun, J., 2016. Deep residual learning for image recognition. In Proceedings of the IEEE conference on computer vision and pattern recognition (pp. 770-778).<br>
13. Simonyan, K. and Zisserman, A., 2014. Very deep convolutional networks for large-scale image recognition. arXiv preprint arXiv:1409.1556.<br>
14. Lawrence, S., Giles, C.L., Tsoi, A.C. and Back, A.D., 1997. Face recognition: A convolutional neural-network approach. IEEE transactions on neural networks, 8(1), pp.98-113.<br>
15. Xie, S., Kirillov, A., Girshick, R. and He, K., 2019. Exploring randomly wired neural networks for image recognition. arXiv preprint arXiv:1904.01569.<br>
16. Ahmed, M.J., Sarfraz, M., Zidouri, A. and Al-Khatib, W.G., 2003, December. License plate recognition system. In 10th IEEE International Conference on Electronics, Circuits and Systems, 2003. ICECS 2003. Proceedings of the 2003 (Vol. 2, pp. 898-901). IEEE.<br>
17. Deng, J., Dong, W., Socher, R., Li, L.J., Li, K. and Fei-Fei, L., 2009, June. Imagenet: A large-scale hierarchical image database. In 2009 IEEE conference on computer vision and pattern recognition (pp. 248-255). Ieee.<br>
18. Miller, G.A., Beckwith, R., Fellbaum, C., Gross, D. and Miller, K.J., 1990. Introduction to WordNet: An on-line lexical database. International journal of lexicography, 3(4), pp.235-244.<br>
19. Terkourafi, M., 2011. The puzzle of indirect speech. Journal of Pragmatics, 43(11), pp.2861-2865.<br>
20. Pinker, S., Nowak, M.A. and Lee, J.J., 2008. The logic of indirect speech. Proceedings of the National Academy of sciences, 105(3), pp.833-838.<br>
21. Hong, S., Yang, D., Choi, J. and Lee, H., 2018. Inferring semantic layout for hierarchical text-to-image synthesis. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 7986-7994).<br>
22. Deerwester, S.C., Dumais, S.T., Furnas, G.W., Harshman, R.A., Landauer, T.K., Lochbaum, K.E. and Streeter, L.A., Telcordia Technologies Inc, 1989. Computer information retrieval using latent semantic structure.<br>
23. Das, A.K., Das, A.K. and Sarkar, A., 2019. An Evolutionary Algorithm-Based Text Categorization Technique. Computational Intelligence in Data Mining, pp.851-861.<br>
24. Nowak, M.A., Komarova, N.L. and Niyogi, P., 2002. Computational and evolutionary aspects of language. Nature, 417(6889), p.611.<br>
25. Jackson, P. and Moulinier, I., 2007. Natural language processing for online applications.<br>
26. Kazienko, P. and Adamski, M., 2007. AdROSA—Adaptive personalization of web advertising. Information Sciences, 177(11), pp.2269-2295.<br>
27. Coull, S.E., Wright, C.V., Monrose, F., Collins, M.P. and Reiter, M.K., 2007, February. Playing Devil's Advocate: Inferring Sensitive Information from Anonymized Network Traces. In Ndss (Vol. 7, pp. 35-47).<br>
28. Antunes, J., Neves, N. and Verissimo, P., 2011, October. Reverse engineering of protocols from network traces. In 2011 18th Working Conference on Reverse Engineering (pp. 169-178). IEEE.<br>
29. Neasbitt, C., Perdisci, R., Li, K. and Nelms, T., 2014, November. Clickminer: Towards forensic reconstruction of user-browser interactions from network traces. In Proceedings of the 2014 ACM SIGSAC Conference on Computer and Communications Security (pp. 1244-1255). ACM.<br>
...
    </p>
</div>