
  <head>
  <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true
      });
    } );
    </script>

</head>
<body>
<div id="philosophy" class = "background">

<h1 class = "header">Philosophy</h1>

<br><br>
<p class = "background container">Ghost Writer Alpha is heavily based in concepts of philosphy, mathematics, linguistics and religion. <br> <br>

    The hypothesis is that randomly choosen images based off of symbolic key words can be combined into a stream of images that hold a 
    meaningful representation.  It might seem preposterous, but it is sort of like how real life works when you turn to the higher powers for an answer.  Below 
    are the dots and a little snippet of information of how they tie into GWA.
   
    <br><br>
  </p>

  <!-- 42 items -->
  <div id="accordion" class = "background accordian container">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseOne" aria-controls="collapseOne" >
                Brain in a vat
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >This is the popular atheist argument against God.  How do we know we are not just a brain in a vat?
                    he thought experiement shows that it is
        impossible to deem otherwise unless some type of belief system is adopted. In regards to image based, symbology, let us assume we are a brain in a vat.  In
        this case, we can describe the reality that we see as a stream of images.  I say, that in the limits of human processing capability, the fastest time we can
        capture, process and digest things is in milli second intervals.  Applying scientific principles of uncertainty, we can further say that half a  milli second
        is the fastest time we are recieving the images (half the smallest accurate level of measurement).<br><br>

        So, in a span of a minute, we are recieving 120,000 images (60 seconds * 1000 milli-seconds/second * 2 images/mill-second).  That is a lot of images.  Each of
        these images comes in a sequatorial and sequential fashion such that what we see and what we do makes sense and is a 'streaming picture show of life' while
        we bask our brain in the vat.  All of the images and how they connect are vastly important and carry strong symbological connotations.<br><br>

        Thus we have a non religious argument for image based symbology.
                 </p>
            </div>
        </div>
    </div>



    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse2" aria-controls="collapseOne" >
                Deen - Islamic philosophy
            </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Deen is a very important islamic concept.  There is no exact correspondence to any word in english.  In fact, it rather broadly covers the concept of 
                    'Way of Life'.  <br><br>
                    
                    The idea is that you as an individual has to strike a balance between the natural laws, gods will, your will and the will of others.  Deen is what governs
                    this balance.  The notions of image based symbology is used as a way of communicating with the divine.  Learning to read the symbols presented to us allows
                    us to call what we want and to please God.  In Islam, it is said that when you master your deen, you can acquire anything you wish for.<br><br>
                    
                    This establishes image based symbology as an actual thing used by a massive audience across the world and further establishes it as something applicable to
                    everyone.<br><br><br><br>
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading40">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse40" aria-controls="collapseOne" >
                Religious Standpoint
            </button>
        </h2>
        <div id="collapse40" class="accordion-collapse collapse" aria-labelledby="heading40" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >It is the notion that the world around us can be viewed as a moving picture show and as we move from one scene to the next, we encounter symbolism and 
                    imagry.  
                    Depending on how we interact with the world dictates the outcome and course of our lives. It is through these symbolic images that we recieve guidance 
                    and answers from the divine.<br><br>
                    
                    From various counts, the majority of the world follows 1 of 12 religions - Baha'i, Buddhism, 
                    Christianity, Confucianism, Hinduism, Islam, Jainism, Judaism, Shinto, Sikhism, Taoism, and Zoroastrianism.  The Judeo-Christian-Islamic faiths account for
                    the majority of the worlds followers and it is through the lens of Islam that the viewpoint for Ghost Writer Alpha is being established.<br><br>
                    
                    Religious scholars agree that the religious texts are viewed as a guidebook which shows us how to interpret the symbols.<br><br>
                    
                    Thus we have a religious case for image based symbology.<br><br><br><br>
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading42">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse42" aria-controls="collapseOne" >
                The Power to Name
            </button>
        </h2>
        <div id="collapse42" class="accordion-collapse collapse" aria-labelledby="heading42" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The Islam stories of the creation of Mankind and Adam (AHS) as the first man recount the power to name as one of the first powers 
                    granted to man. This power is something Man held above the Angels and Jinns.
                    <br><br>

                    As we go through life and encounter the various symbols presented to us, we employ the religious texts and our ability to name to 
                    interrpret and understand. This power is most often seen used when two people of different cultures and language differences are 
                    forced to encounter and work with each other. They have to use gestures and coin new names to communicate with the other person.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading41">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse41" aria-controls="collapseOne" >
                Post Modernity
            </button>
        </h2>
        <div id="collapse41" class="accordion-collapse collapse" aria-labelledby="heading41" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Post Modernity is the concept of applying science and religion to understand the world around us.  History is being viewed as coming in 3 phases - pre-modern,
                    modern and post-modern.  Pre-Modern is the times before science was taken as the base of knowledge.  It is the time period where the religious texts were
                    taken literally and used as the word of law.  It is the time period where we gathered all of our understanding from the religious texts.  Modern is the time
                    period marked by the scientific method and the use of science to understand the world around us.  During this time period religious thoughts and the reliance
                    of knowledge and understanding from the religious texts waned.  Post-Modernity is a period that hasn't held a firm grip on the world yet.  It is thought that
                    it will be the period of time that will make use of both the religious texts and scientific knowledge to understand and percieve the world around us. It 
                    hasn't yet started but it is thought that we are currently entering it.<br><br>
                    
                    In relation to Ghost Writer Alpha - Ghost Writer Alpha is a post-modern app as it is based on strong religious philosophical principals and scientific 
                    principles.  The full understanding of how it works is not yet known.  It is still new and being introduced to the world.  Can you get it to work
                    such that it symbolicaly answers your questions and provides guidance?<br><br><br><br>
                    
                    
                    
                    <br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse3" aria-controls="collapseOne" >
                Randomness theory- not so random
            </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >How random are things really?  It can be argued that randomness rules our lives.  We cannot foretell the future and albeit interesting, coincidences 
                    are just mere chance occurances.  However, it can also be argued that things happen for a reason.  While we cannot fortell the future and coincidences are just
                    mere chance occurances, they can bear meaning.  The arrangement of random events can be goverened by the divine such that symbolism is left for interpretation.
                    Did that just happen or is that a sign?  The world works in mysterious ways.  Maybe those random events aren't so random afterall.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse4" aria-controls="collapseOne" >
                Allegory of the cave
            </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >This is a new way to interact with the world.  It opens up new opportunities.  Will you be able to convince others that it works?  Will they believe you or
                    will your friends fall into disbelief like those in the allegory of the cave?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse5" aria-controls="collapseOne" >
                Jack in the green - green man - khider
            </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >When does he come around?  The quran describes him as a man of knowledge and understanding.  What would he say to this?  Would he use it?
                    This device is full of possibilities.  Maybe we can use it to find where he is.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse6" aria-controls="collapseOne" >
                Alchemy
            </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >This is spiritual Alchemy.  The device can be used to obtain things the heart desires.  It can be used to show us a way forward and can give us clear 
                    guidance. Use this for spiritual englightenment.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

   

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading8">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse8" aria-controls="collapseOne" >
                Path of least resistance - electrons
            </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Electrons flow through the path of least resistance.  Maybe the way the images are pulled are from the reminent paths of least resistance. Each image is
                    at an endpoint that had the lowest path of resistance for the images to flow through.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading9">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse9" aria-controls="collapseOne" >
                Spiders, indexing
            </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Spiders comb the internet and keep an index of everything.  How do the retrieved images connect back to the question?  They rely on the indexing of
                    the spiders.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading10">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse10" aria-controls="collapseOne" >
                Nearest neighbors
            </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Nearest neighbors are completly different from the context of the internet.  Two people on opposite sides of the world looking at the same webpage
                    are now nearest neighbors in the cyber.  You nearest geographical neighbor could be looking at something the polar opposite of what you are on the web and
                    you are no longer nearest neighbors in the cyber.  The internet takes the concept of nearest neighbors to a different meaning.  Who is your nearest 
                    neighbor?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading11">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse11" aria-controls="collapseOne" >
                Geographical location and travel history
            </button>
        </h2>
        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Your cell phone keeps track of your GPS coordinates and everything time you login to the internet away from your home location, you leave a remanant trace
                    on the web.  Maybe the electrons can pick up on this remenant trace and your geographcial location as well as travel history will affect the image
                    stream you receive.  This would allow for a more respondent image stream which is the way the device works.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading12">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse12" aria-controls="collapseOne" >
                Picto-byte
            </button>
        </h2>
        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The image stream can be broken down into picto-bytes.  Every 2-4 images carries a theme and a message with it.  The picto-bytes should be taken together
                    to form the overal message and sentences.  Can you discern the picto-bytes?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading13">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse13" aria-controls="collapseOne" >
                Networks eye
            </button>
        </h2>
        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >A way to think of this is like you are looking into the networks eye.  As GWA searches for the images, you get a glimpse into the network.  The images come
                    from different parts of the web and may form an interpretable message.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading14">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse14" aria-controls="collapseOne" >
                Connectivity
            </button>
        </h2>
        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >How connected are you? The more you read on the web, the more you get connected with the world.  The ability for GWA to provide accurate and timely 
                    answers is related to how connected you are.  The more connected, the more relevant and accurate your answers will be.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading15">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse15" aria-controls="collapseOne" >
                Semiotics
            </button>
        </h2>
        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Semiotics is the study of signs and symbols and their use or interpretation.  GWA produces signs in the image stream for your intepretation.  You actively
                    must use semiotics to discern what GWA is telling you. 
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading16">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse16" aria-controls="collapseOne" >
                Ice breakers
            </button>
        </h2>
        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >GWA can be used as a natural ice breaker.  The images returned to a group asking a question should be relevant to everyone in the group.  People can taken
                    turns speaking about how the image connects them to the question or broader theme.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading17">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse17" aria-controls="collapseOne" >
                Language
            </button>
        </h2>
        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >A picture is worth 1000 words.  The picture stream is a language of its own from which anything can be communicated.  Thousand and thousands of words
                    can be represented via the image stream.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading18">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse18" aria-controls="collapseOne" >
                Index
            </button>
        </h2>
        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The index as related to Charle Pierces theory of semiotics is the thing which our daily events revolve around as we go from one scene to the next 
                    interpreting the signs and making the decisions that lead to the next scene in our lives.  The index can be generalized such that we all experience 
                    the same parts of the index and receive similar signage but our choices are vastly different and the index extends out to events specific to our lives. 
                    GWA can help us move from one point in the index to the next much faster and may act as a stethescope to the index.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading19">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse19" aria-controls="collapseOne" >
                Language structures
            </button>
        </h2>
        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >A message can remain the same and can be expressed through many languages that have many different language structures.  Is there a language structure to
                    the image stream?  Does the image stream possess characteristics of a language?  
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading20">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse20" aria-controls="collapseOne" >
                Human physiology
            </button>
        </h2>
        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >There is evidence in science that says the way we know language is directly related to our physiology. Our body structure dictates the way we form and 
                    express words.  Could our physiology also directly affect the way we see and intprete images and visual stimuli?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading21">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse21" aria-controls="collapseOne" >
                Universal tongue
            </button>
        </h2>
        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The universal tongue is the tongue that can interpret any other languages and with it, one may be able to move from place to place unhindered by 
                    the language barrier.  Maybe symbols and imagry is the universal language.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading22">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse22" aria-controls="collapseOne" >
                Heiroglyphics
            </button>
        </h2>
        <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >We know the Ancient Egyptians used to communicate with Heiroglyphs.  Maybe the picto-bytes are a heiroglyph and the image stream is a language written 
                    in heiroglyphs.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading23">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse23" aria-controls="collapseOne" >
                Human/computer interactions
            </button>
        </h2>
        <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >GWA relies on a human/computer interaction.  It is assumed that your intentions come into play and are intrinsicaly read by the device as it searches the 
                    internet for the images.  In this way, it can produce relevant and accurate image streams.  Not much is known about this type of human/computer interaction.
                    
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading24">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse24" aria-controls="collapseOne" >
                Althiometer - heart compass
            </button>
        </h2>
        <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >When I created the device, I intended it to be a proto type of the Alethiometer.  As it came into fruition, I realized that it acts more like a heart compass,
                    showing you ways to obtain what you seek and having the ability to answer questions.  GWA has evolved into what it is now, a multi use device that is very
                    spiritual in nature.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading25">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse25" aria-controls="collapseOne" >
                Dust
            </button>
        </h2>
        <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >In the book, the golden compass, dust has a key role in the ability of the Alethiometer to answer question.  While I do not think dust is the main reason
                    GWA works, it does have an implicit affect.  Recall how electronics are affected by dust?  Dust stops and interferes with the ability of electrons to travel
                    along the metallic wires.  Accumulation of dust on metal surfaces can affect the ability of electrons to flow through the path of least resistance.  Is that 
                    piece of dust randomly placed there or is there more meaning to it?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading26">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse26" aria-controls="collapseOne" >
                A picture is worth a thousand words
            </button>
        </h2>
        <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="heading26" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >GWA relies on images to produce a symbolic answer.  A person can produce thousands of words with each picto-byte.  Much more information can be conveyed with 
                    the image stream than by sentences alone.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading27">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse27" aria-controls="collapseOne" >
                Looking glass
            </button>
        </h2>
        <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="heading27" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >This is a sort of looking glass.  You may be able to read into your future and obtain guidance for how and what you should do next.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

   
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading28">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse28" aria-controls="collapseOne" >
                Cybernetics
            </button>
        </h2>
        <div id="collapse28" class="accordion-collapse collapse" aria-labelledby="heading28" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Cybernetics is defined as the science of control and communications in the animal and machine.  Can the stream of images act as a way to communicate with 
                    machines?  Can we develop GWA such that machines will be able to read, relay and use information from the image stream?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading29">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse29" aria-controls="collapseOne" >
                Neurolinguistic programming
            </button>
        </h2>
        <div id="collapse29" class="accordion-collapse collapse" aria-labelledby="heading29" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Is there a connection between the neurological processes, language and behavioral patterns?  How does processing language through a stream of images affect 
                    neurolinguistic programming?  Could GWA be used to counteract the affects of PTSD?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading30">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse30" aria-controls="collapseOne" >
                Cross cultural awareness
            </button>
        </h2>
        <div id="collapse30" class="accordion-collapse collapse" aria-labelledby="heading30" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The cross cultural conversations program hosted by GWA will raise cross cultural awareness.  It will serve as the basis for a world peace movement and will
                    catalyze the effort for world peace.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading31">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse31" aria-controls="collapseOne" >
                Natural language
            </button>
        </h2>
        <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="heading31" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Maybe the image stream can evolve into its own natural language.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading32">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse32" aria-controls="collapseOne" >
                Statistical linguistics
            </button>
        </h2>
        <div id="collapse32" class="accordion-collapse collapse" aria-labelledby="heading32" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Staistical linguistics is the study of regularities and statistics across languages.  Spoken and written word may present rules that they are bound by.  What 
                    if the image stream has its own statistical structure?  What if there are signatures in the image streams?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading33">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse33" aria-controls="collapseOne" >
                Semantics
            </button>
        </h2>
        <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="heading33" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Semantics is the branch of linguistics and logic concerned with meaning.  How much meaning can be expressed with the image stream.  Is a human needed to 
                    interpret it or can a machine distinguish between the different meanings in the symbology?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading34">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse34" aria-controls="collapseOne" >
                D-Day
            </button>
        </h2>
        <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="heading34" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >How many lives were lost on D-day?  Do we need another day of the such?  The cost of war is high.  How small of a thing is it to hold a conversation with GWA?
                    How much can that one small act go in preventing another D-Day.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading35">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse35" aria-controls="collapseOne" >
                Terminator
            </button>
        </h2>
        <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="heading35" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Maybe this type of image stream will give terminator a way to see?  Could we tie emotions to the vision?
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading36">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse36" aria-controls="collapseOne" >
                Computer vision
            </button>
        </h2>
        <div id="collapse36" class="accordion-collapse collapse" aria-labelledby="heading36" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >Maybe computers can see and dynamically interpret reality with a vision element like GWA.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading37">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse37" aria-controls="collapseOne" >
                Politics
            </button>
        </h2>
        <div id="collapse37" class="accordion-collapse collapse" aria-labelledby="heading37" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >GWA can be used as a mining device for the latent bonds of society that can be used in politics to foster peaceful integration programs.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading38">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse38" aria-controls="collapseOne" >
                World Peace
            </button>
        </h2>
        <div id="collapse38" class="accordion-collapse collapse" aria-labelledby="heading38" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >This is the thing that will bring world peace in rapid fashion.
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading39">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse39" aria-controls="collapseOne" >
                United nations
            </button>
        </h2>
        <div id="collapse39" class="accordion-collapse collapse" aria-labelledby="heading39" data-bs-parent="#accordion" >
            <div class="accordion-body background">
                <p >The United Nations could evolve to the ruling entity of the world. One country where all the current countries are now states?  
                    <br><br><br><br>
                </p>
            </div>
        </div>
    </div>

</div>


    <p>




</p>

</div>
</body>