<div class = " container background">
    <h1 class = "header background">Apologies, but something went wrong.  Please try again!</h1><br><br>
 
    <div class = "row background">

        <div class="column background">
            
             You are doing great!  You are giving the world hope for World Peace.  The money will go to good use.

             <br><br>
             Good things take time, but time is of the essence, so we must make haste.
            
           
        </div>
      
    </div>
    <div class = "row background">

        <div class="column background">
            
            <strong>Donate for World Peace Now</strong><br>
            <a routerLink="/donate"> 
            <img src="./assets/donate button.png" class="donatebutton"/>
        </a>
           
        </div>
      
    </div>
    <div class = "row background">


        <div class="column background">
            <strong> Push for World Peace by holding a cross-cultural conversation with our application Icebreakers.  Communicating across cultures has never been
                 <a routerLink="/barriers">easier</a>.
                Download the application, register a profile and follow our <a routerLink="/appdesign">storyboard</a>.
            </strong><br>
            <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="download"/></a>
    
        </div>
    </div>

    </div><p>failed-payment-thankyou works!</p>
