
<head>
       
</head>


    
<table class ="container">
  <tr >
    <td colspan="2" class="">
    <h1 class = "header1 background">Support the World Peace Catalyst Fund this Giving Tuesday</h1><br>
    <h2 class = "header2 background">WPCF is the strongest force for peace.  We offer a systemic social 
        mechanism that seems to all but guarantee Peace
    </h2>
    <br>
    <p class = "background intro">
        From: Mudib Rawoot - President of WPCF<br>
        Date: November 2023<br>
        Location: In transit<br>

    </p>
    <p class = "background">
        <br>

You reached this page because you wanted to support a Peace nonprofit.  Well guess what?  WPCF is the best Peace 
nonprofit and is the strongest force for peace - And guess what.  We can prove it.
<br><br>

...Just answer me this one question: If there was one thing you could do that could only bring us closer to peace,
would you do it?
<br>
....We thought you would.  Keep reading below to learn more about our systemic social mechanism and what we have 
to offer.
<br><br>
        </p>

    </td>
  </tr>

  <tr>
    <td> 
        <h2 class = "header2 background">I want to give you a brief overview before I begin this sales letter. 
             There are 12 points I plan to 
            cover.
        </h2> 
        
        I'm going to list them out here as a sort of table of contents.  You can jump to whichever point suits you
        or you can read this straight through.  However you feel.  The overall point of the sales letter is to 
        convince you to take part in our Giving Tuesday World Peace Movement.

   <br><br>
        <ol>
            <li>Actions that can be taken right now to help bring peace</li>
            <li>Who is Mudib Rawoot?</li>
            <li>The Systemic Social Mechanism and the heart effect</li>
            <li>Why WPCF is the best - an Example</li>
            <li>Women & Chilren pushing for peace in war zones</li>
            <li>Management of WPCF</li>
            <li>Impact potential and measurement</li>
            <li>Fight Oppression Meme 1</li>
            <li>Fight Oppression Meme 2</li>
            <li>Fight Oppression Meme 3</li>
            <li>Fight Oppression Meme 4</li>
            <li>Fight Oppression Meme 5</li>
            <li>Be the impetus for change - Act Now </li>
          </ol>
    </td>
    <td>  <a  href="#"><img src="./assets/logo v5 300 dpi.jpg" class="salesImage"/><br>
    </a>

</td>
    
  </tr>


  <tr>
    <td> 
        <a href='https://play.google.com/store/apps/details?id=com.mudib.ghostwriter&hl=en_US&gl=US'>
            <img src="./assets/google-play-badge.png" class="salesImage"/></a>
       
    <td>

        

            <h2 class = "header2 background">Here is the quick run through of actions you can take right now
                to support the WPCF peace movement. We have it all, for those that want to be proactive or passive
                in pushing for peace.
           </h2> 
           <br>
           <b>For those that want to actively support the peace movement</b>, I've got two things for you.  You can post one of
           our generic <a  href="FOoverview">fight oppression</a> fight oppression memes and add the hashtag 
           #wpcf_givingtuesday2023.  This helps spread the word about 
           WPCF which grows the movment which implicitly helps the world peace movement.
               
           <br><br>
           Is that not activity for you?  <b>Do you actualy want to do some socializing and push for peace at the same
             time?</b>
           How about you download our mobile application Icebreakers.  Icebreakers reduces the communication barrier by 90%
           and employs the heart affect which allows you to hold a heart based cross cultural conversation.  In fact, the 
           conversation becomes a heart based connect the dots game that safely and effectivly reveals what bonds us and 
           what separates us.  The download link is on the right and our storyboard is located here: 
           <a  href="appdesign">Storyboard</a>.  Each cross cultural conversation is a brick in the house of peace.
               
           <br><br>
           Are you saying that is to much for you?  
           <b>Why don't you take a step back and educate yourself on our work.</b> I've 
           created a systemic social mechanism that seems to all but guarantee peace through mass usage.  Your probably like
           really?  I don't believe you.... I get it.  That's why I've written about my systemic social mechanism.  It 
           consists of a series of 12 reports available on our site.  Check out the overview of the reports here:
           <a  href="overview">Overview of systemic social mechanism for peace.</a>
               
           <br><br>
           <b>Convinced and got some dough to spend?  Well, please donate. </b> We are at point 0 and we are growing.  The 
           whole thing is run efficently and effectively and seems to be a guaranteed success.  This will work in due
           time.  Money will just help bring peace faster.  Visit our <a  href="appdesign">donate</a>
           page to make a contribution we can use to catalyze world peace.

    </td>
    
  </tr>

  <tr>
    <td><h2 class = "header2 background">Who is this world peace dude?  Right.  Well, my name is Mudib Rawoot.
         A picture of me is to the right throwing up the WPCF sign.
   </h2> 
<br>

  My education is in engineering.  I have a 
Bachelors in Chemical Engineering
from Virginia Tech and a Masters in Material Science Engineering from the University of Florida.  I am an Eagle
Scout and I have a International Baccalaurette degree.
<br><br>
This whole thing started out as a passion project with my mobile application Ghost Writer Alpha.  Ghost Writer Alpha
is able to take a question in the form of symbols and produce a message that answers your question from randomly 
drawn images.  I've got a strong science and math background and I know the prevailing thought is that if an 
intelligible answer does form, its random chance.  Well, I've conducted preliminary experimentation and I know 
its not actually random chance.  I'm actually calling it a heart affect and I'm working to produce scientific papers
that prove it.  More on that below...
<br><br>
Anyway, I soon realized that this heart affect can also be used to efficiently reveal what bonds us and what 
separates us, which is what we need for world peace. I turned it into a semiotic social media device and I 
started looking for money and found that all the money for this
 is in the form of grants.  I had no luck getting startup
funding, so I incorporated it into a nonprofit.
<br><br>
I know most nonprofits fail and America is going to be like, its a person of color, let's not give.  I think 
the important thing to note here is that I have a no joke, hard working mentality (who would go through all this 
trouble), I have the education for it (I've got a pedigree in Chemistry & Math - the heart effect is a metaphysical
reation which has analogs to chemical reactions), I'm writing for it (No fast ones here - My logic should 
check out, if it doesn't, email me - mrawappt1&#64;gmail.com) and I've got the leadership skills for it (The Eagle
stuff is ingrained because its done at such an early age).
<br><br>
Anyay, I'm saying that I'm worth the money.  I am a male and I have a member so like 90% of the stuff I say and do 
is going to be stupid, but I've got something. I had this thing with the sciences, and I actually consider
this idea (which came ~2012) as a gift from God - just look at how big its gotten.
 Give me some dough so I can see if it works as expected.
<br>
</td>

    <td>  <a >
        <img src="./assets/Mudib Rawoot Pro photo with wpcf sign.jpg" class="salesImage"/></a></td>
    
  </tr>

  <tr>
    <td><a >
        <img src="./assets/Instagram Valentine Post.png" class="salesImage"/></a></td>
        
        
    <td><h2 class = "header2 background">What is the systemic social mechanism and what is this heart effect?
  </h2> 
       At some point, your going to be asking this.  Do you know the thing where you seek and manifest things through
       your heart?  I'm not meaning the feeling stuff.  This is kind of abstract and I don't have a clear and cut 
       way to explain it so you'll have to work with me.  I grew up in America and the white folk are all like, you 
       can get what you want but you'll have to work for it.  I think there is a bit more to it.  I would ask for 
       things in prayer with my heart as well as work for it.  When things would manifest, I would think that there
       are way to many things working together for it not to have come somewhat from my heart. 
    <br><br>
    Anyway, after studying so much math and science, I figured out a way to measure this effect - believe me or 
    not.  I've shown the heart effect to be real in the first experiment, which (link below).  The experiment 
    answers the question does the heart have an ability to draw forth what we seek from the randomness.  The
    experiment is like this: Think of an animal in your heart/mind (there is a connection...), for example
    rabbit.  Type the symbol animal into the single person usage of the application Icebreakers.  Then see if 
    the animal you thought of comes up within x number of images.  This is the first experiment so I set x to 1200.
    <br><br>
    The scientific community will say that it shouldn't come up because the random chance probability is less than
    1%. The app works by searching the internet for random images with the symbolic keyword you chose.  So for this
    experiment, it searches the internet for images with the hashtag animal.  There are trillions of images of 
    animals on the internet.  There are maybe millions of pictures of rabbits on the internet, but the overal % 
    is less than 1%.  You can argue this point, the numbers from my experiment show that it won't really matter.
    <br><br>
    31/38 times I was able to bring back a picture of the animal I sought which disproves the accepted rationale
    of random chance in favor of a heart effect.  I extend this effect to questions - it can answer questions 
    you ask in symbolic form.  I further extend this effect to questions asked between two people - to reveal
    what separates us and what bonds us.  These last two extensions, I have experiments designed but have not 
    had the chance to run. In any event, if you have ever used your heart for anything, you should be able to 
    see what I am saying.
    <br><br>
    So that's the heart effect.  The systemic social mechanism comes into play when everyone downloads the 
    application and starts to ask each other questions designed to reveal what bonds us and what separates us.
    People can ask multiple other users the same question.  It's rinse, wash, repeat with each conversation a 
    heart based connect the dots game.
    The heart based connect the dots conversations can then be sent in for centralized reveiw.  WPCF can pick out
    the common themes and strongest of bonds of society and can then magnify it which should bring peace
    ever closer.  
    
    <br><br>
    Get it?
    <br><br>
    
<a href="/assets/The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf" 
download="The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf">
   Heart Effect Experiment #1
</a>
<br>
<a href="/assets/systemic social mechanism diagram.pdf" 
download="systemic social mechanism diagram.pdf">
   Systemic Social Mechanism Diagram
</a>
<br>
<a href="/assets/Treatises of World Peace - 2nd Draft.pdf" 
download="Treatises of World Peace - 2nd Draft.pdf">
   Treatesies of World Peace - Working Theory behind mechanism
</a>
<br>
    </td>
    
  </tr>

  <tr>
    <td> <h2 class = "header2 background">If you've gotten this far, let me restate that WPCF is the 
        best nonprofit for peace.  Why?  Let me explain with an example - Israel/Palestine
    </h2> 
        
       <br>
       With this example, I also want to clear up a misconception.  I know that when you all think of giving to 
       charity, you consider giving to charities that will help the impoverished and needy
        in war zones - ie: peace nonprofits that help people diretly.  I want to bring to light that although the money
        given to WPCF won't help people immediately, it does have a greater impact on victims of war than any other
        peace nonprofit can have.

        <br><br>
        Consider the Israel/Palestine conflict.  Lets say in January, ISrael launches an attack on Palestine that 
        kills 1,500 and hurts another 5,000 innocent civilians.  Let's say a nonprofit raises $1 million to help 
        the war victims.  They will spend the $1 million in 3 months and maybe help out 1,000 families (nonprofits
        are notorius for misshandling money).
        <br><br>
        In another 3 months, Israel launches another attaack and the cycle repeats itself.  In the end, only a 
        small percentage of families were actually helped.
        <br><br>
        Now consider WPCF's strategy.  If WPCF spends $1 million over the course of 3 months, maybe 10 million cross
        cultural conversations can be held on Icebreakers.  Out of those conversations, maybe 1,000 bonds of society 
        are revealed.  That may be all that is needed to stop the conflict between Israel/Palestine forever.

        <br><br>
        Which do you think is better?  Take a look at the chart on the right.  It's clear isn't it.
        <br><br>
        WPCF empowers everyone, men, women, children to push for peace.  Remember, togther we are the strongest force
        for peace.


    
    
    </td>
    <td> <a >
        <img src="./assets/Total Deaths Comparison.png" class="salesImage"/></a></td>
    <br>
  </tr>

  <tr>
    <td>
        <a >
            <img src="./assets/women children war.png" class="salesImage"/></a>
        
       </td>
    <td>
        <h2 class = "header2 background">Holding a Cross Cultural Conversation on Icebreakers to push
            for peace is so easy, even women and children in warzones can do it.
        </h2> 
<br>
Did you know that Icebreakers is so easy to use that even women and children can push for peace with it.  Think
about that.
<br><br>
That means women and children in Palestine, Ukraine, Sudan, and any other war zone who were once at the whims
of world politics can now use the pen of their hearts to effectively implement change.
<br><br>
WPCF provides one single action (holding a cross cultural conversation), that everyone with internet access
can take every day to help bring us closer to peace.
<br><br>
What other nonprofit can say that?  Can you see why WPCF is the best?
    </td>
    
  </tr>

  <tr>
    <td>  <h2 class = "header2 background">Now, let me tell you about my Managment skills.  WPCF is 
        at point 0, but we are still growing.
    </h2> 
    The other reason you should consider giving me $$$ on giving Tuesday for WPCF is because of my management.
     We are still at point 0, but have enjoyed growth with our little resources. 
     <br><br>
    This includes good planning and implementation of the google ad grants:
    <ul>
        <li>
            Identified 28 customer personal which allowed us to advertise for every website page
        </li>
        <li>
            Have generated consistent website visits which has grown our email subscriber list to 232  
        </li>
        <li>
            Spent $144k which allowed us identify key market cities where this would be popular
        </li>
        <li>
            Found ad copy that work
        </li>
        <li>
            Have grown the app by 250+ users and 1,500 installs in 6 months after I found a copy that worked.  
        </li>
    </ul>  
              
              
               
               
               
     <br><br>
     Actively doing Research:
     <ul>

        <li>
            Have read 25 books on internet marketing, and non profit management in the past year
        </li>

        <li>
            6+ more books in the pipeline
        </li>
        <li>
            Have taken notes and started implementing these ideas
        </li>
    

     </ul>
           
 <br><br>

Take a look at the charts to the Right. I will succeed,
 it will just be a matter of time. Why not help world peace come faster.
 <br><br>
       </td>
    <td>
        <a>
            <img src="./assets/Total Installs.jpg" class="salesImage"/></a>
            <a >
                <img src="./assets/Total Devices.jpg" class="salesImage"/></a>

    </td>
    
  </tr>

  <tr>
    <td>
        
        <a>
            <img src="./assets/impact.png" class="salesImage"/></a>
        
        </td>
    <td>
        <h2 class = "header2 background">Have you thought about how you can measure the impact of the other
            nonprofits?  WPCF has all the other nonprofits beat again.  Here is why:
        </h2> 
        Another reason why you should consider donating to WPCF is because we have a clear
         measureable impact on society. The number of cross cultural conversations held on the app 
         can easily be measured through Google analytics. In addition, we can measure the number of 
         conversations sent in for analysis and the number of bonds of society revealed. We can also 
         measure the change that amplification of these bonds of society have made by surveying public 
         opinion and attitudes through polls.

         <br><br>  
         That is 4 key statistics WPCF can monitor and report on to you, our boss.  What do the other 
         peace nonprofits have to report on?  Have you looked at their financials?  Nonprofits are notorious
         for mishandling money.  Just look at how much money has been sent to them and how much conflict is 
         still in the world.
         <br><br>

        What do you think?
<br><Br>
    </td>
    
  </tr>

  <tr>
    <td><h2 class = "header2 background">Fight Oppression Where ever you see it.  Post this meme to the right
        by clicking it and downloading it.
    </h2> 
    Add the hashtag #wpcf_givingtuesday2023 so other people learn about us and donate to us.  This is the 
    easiest and simplest thing you can do to activly take part in the WPCF giving Tuesday Peace movement.  We 
    are trying to raise money through this type of social media campaign.
    
    <br><br>
    This meme is to remind people that it is their duty to fight oppresion whever and whenever they encounter it. 
    It quickly and efficiently educates them on the three levels which you can fight oppression (weak, normal 
    and the strong). It informs them that Icebreakers allows everyone to fight oppresion safely at level 1 and 2.

    <br><br>
    I know I mentioned the meme thing earlier, but this is just in case you forot.

</td>
    <td><a href="/assets/Memes/wherever/Fight Oppression Wherever you see it Green.jpg" 
        download="Fight Oppression Wherever you see it Green.jpg">
             <img src="assets/Memes/wherever/Fight Oppression Wherever you see it Green.jpg" 
            alt="wherever meme-green" class="salesImage">
        </a></td>
    
  </tr>

  <tr>
    <td><a href="/assets/Memes/What he wants/What he wants Pink.jpg" 
        download="Fight Oppression Wherever You see it Pink.jpg">
             <img src="assets/Memes/What he wants/What he wants Pink.jpg" 
            alt="what he wants meme-pink" class="salesImage">
        </a>  
        </td>
    <td><h2 class = "header2 background">Pushing for Peace is what God wants.  Remind everyone this by 
        clicking and downloading the meme on the left.
    </h2> 
    <br>
    This meme is to remind people that while fulfilling their duty to fight oppresion, they should not focus
     on the results of their action. It will take a long time for a semblence of peace to form. It reminds 
     people, that it is not about what anyone wants, its what he wants. Nothing happens without God's permission. 
     It will help keep people steadfast in the peace movement.
<br><br>
    This meme is based off the following quran verse which WPCF derives that God wants us to get to know what 
    bonds us and what separates us which can only happen through conversation. You may be able to extend this 
    rationale into saying that holding a cross-cultural conversation is an alternate form of prayer as it 
    allows us to connect with God and each other - but this statement has yet to be validated by religous authority.
    <br><br>
    ‘Human beings, we created you all from a male and a female and made you into nations and tribes so that 
    you may know one another. Verily the noblest of you in the sight of Allah is the most God-fearing of 
    you. Surely Allah is All-Knowing, All-Aware.’ (Quran 49:13)

    <br><br>
    Add the hashtag #wpcf_givingtuesday2023 so other people learn about us and donate to us.

</td>
    
  </tr>

  <tr>
    <td><h2 class = "header2 background">The Pen is Mightier than the Sword.  Don't let anyone forget that.
        Click on this meme to the right to download and post it on your favorite Social Media Channel.


    </h2> 
    This meme is to remind people that while fulfilling their duty to fight oppresion, they should do
    their best to avoid using violence. The Pen is mightier than the sword meme encourages users to take 
    to social media to write their thoughts and sentiments in comments such that popular opinion can be 
    swayed and the peace movement can grow stronger.
    <br><br>
    Add the hashtag #wpcf_givingtuesday2023 so other people learn about us and donate to us.
</td>
    <td><a href="/assets/Memes/pen is mightier than the sword/Pen is Mightier than the sword yellow.jpg" 
        download="Fight Oppression Wherever you see it Yellow.jpg">
            <img src="assets/Memes/pen is mightier than the sword/Pen is Mightier than the sword yellow.jpg" 
            alt="Pen is mightier than the sword meme-Yellow" class="salesImage">
        </a></td>
    
  </tr>

  <tr>
    <td>   
        <a href="/assets/Memes//run until you can't run anymore/Run white.jpg" 
        download="Fight Oppression Wherever you see it white.jpg">
             <img src="assets/Memes/run until you can't run anymore/Run white.jpg" 
            alt="run meme-white" class="salesImage">
        </a>  </td>
    <td><h2 class = "header2 background">There is no need to fight.  Remind people of this with the 
        meme to the left.


    </h2> 
<br><br>
This meme is to remind people that while fulfilling their duty to fight oppresion, they should not be afraid to 
run from a fight. In fact, violence is the worst way to push for peace. The peace warrior should strive to 
do so with their actions, heart and writing. A dead peace warrior is no good to the peace movement.
<br><br>
Add the hashtag #wpcf_givingtuesday2023 so other people learn about us and donate to us.

</td>
    
  </tr>

  <tr>
    <td><h2 class = "header2 background">Bring hope to people this giving Tuesday by reminding them that
        where there is hardship, there is ease.


    </h2> 
    <br>
    This meme is to remind people that while fulfilling their duty to fight oppresion, they will surely 
    encounter hardship and that where there is hardship, there is also ease. It provide hope in dark 
    moments will help to keep people steadfast in the peace movement.

    <br><br>
Add the hashtag #wpcf_givingtuesday2023 so other people learn about us and donate to us.
<br>
</td>
    <td><a href="/assets/Memes/hardship,ease/Hardship, ease Turqouise.jpg" 
        download="Fight Oppression Wherever you see it Turqouise.jpg">
            <img src="assets/Memes/hardship,ease/Hardship, ease Turqouise.jpg" 
            alt="hardship,ease meme-Turquoise" class="salesImage">
        </a></td>
    
  </tr>
  <tr>
    <td><h2 class = "header2 background">WPCF empowers you to be the impetus for change.  Act now for
        this Giving Tuesday.


    </h2> 
        
        
        <br>

        WPCF empowers you to be the impetus for change. Your next heart based conversations could hold 
        the key to stopping the next spat of violence.  
        <br><br>
        Our systemic social mechanism for peace relies on the popularity of our application Icebreakers.  Help
        support our peace movement by posting a meme, downloading Icebreakers and holding a cross cultural
        conversation or donating today.

    </td>
    <td>   <a href='/donate'>
        <img src="./assets/donate button.png" class="salesImage"/></a></td>
    
  </tr>

  <tr>
    <td><a  href="#"><img src="./assets/logo v5 300 dpi.jpg" class="salesImage"/><br>
    </a></td>
     
    <td><h2 class = "header2 background">If you've made it down this far,
        <br>
         Here is a BIG THANK YOU!!!!


    </h2> 
<br>
<br>
<br>
<br>
Sincerly,
<br>
Mudib Rawoot

</td>
  </tr>
</table>