<head>
    <Title>Conversation Wells and the way to War</Title>
    <meta name="description" content="This report by the wpcf goes over how there is a standard form of conversation between two hostile nations and how it quickly escaltes 
    to violent warfar with each other.  We provide an alternative solution to the standard conversation well.">
    <meta name="author" content="Mudib Rawoot">
    <meta name="keywords" content="wpcf, wpcf reports, world peace catalyst fund reports, conversation wells, standard form of conversation, how countries start fighting with 
    each other">
    <meta name="keywords" content="New App, Instagram Alternative, Facebook alternative, Tik Tok alternative, snapchat alternative, whatsapp alternative, 
    social media alternative, new mobile app, app, world peace app, peace app, peace mobile app, world peace mobile app, new thing to do, truth social app, 
    apps for making friends, smart app, friendship app, friend app, friends with strangers, new friends, cross cultural conversation, new friendship app, 
    cross cultural friends, friend from a different culture, make new friends, how to make a friend, talk with strangers, make friends with a stranger, 
    make friends with strangers, divination, magic, sense, seeking new friends, communication for friendship, heart app, god app, heavens app, divine, 
    friendship communication, converse with a friend, making cross cultural friends, make friends with someone from another culture, making friends, 
    pathway to new friends, cross cultural socializing, common cultural habits, common cultures, cross cultural communication, cross cultural communication barriers,
     communication barriers, cross cultural conversation app, cross cultural differences, how to make cross cultural connections, how to speak to another culture,
      penpal app, penpals, speaking to another culture, speaking with someone from another culture, game to make cross cultural connections, 
      app for cross cultural conversation, connect with other cultures, media app, new social media, social app, social media app, social media age, 
      anonymous app, image app, image socializing app, social media apps, social media platforms, socializing app, icebreaker app, image based symbology, 
      best way to socialize, how to socialize, social, socializing, socializing with different cultures, hold a conversation, converse with a stranger, 
      how to converse, icebreaker game, icebreakers, games for icebreakers, how to break the ice, how to communicate, anonymous conversation, history of communication, 
      connect the dots, Likes/Dislikes, Communication Driving forces, barriers to communication, break the ice, communication with symbols, archetypes, 
      periodic table of symbols, symbolic communication, universal culture, universal language, universal meanings, universal meanings across cultures, 
      universal tongue, universal truths, about app, best nonprofit, best organization, nonprofits, nonprofit organizations, about us, non govermental organizations,
       ngo, international affairs, cross cultural communications, cross cultural, cross cultural conversations, World Peace, World Peace possibility, is world peace possible,
        world peacekeeper, about world peace, stop wars, wars, treaties, peace treaties, peace, peace treaty, best organization for peace, organization for peace,
         how to stop fighting, war, nonprofit, tax exempt organization, peace organizations, peace groups, work for peace, app for peace, mobile app for peace,
          for peace, make a new friend, talk to strangers, make friends from strangers, how to make friends, how to make new friends, barriers to friendship,
           making friends with someone from another culture, cultural archetypes, cultural behavior, cultural differences, cultural memes, cultural similarities,
            penpal app, anroid app, android, android device, Instagram Alternative, Facebook alternative, Tik Tok alternative, snapchat alternative, 
            whatsapp alternative, social media alternative, apps for making friends, friendship app, friend app, friends with strangers, new friends, 
            cross cultural conversation, new friendship app, cross cultural friends, friend from a different culture, make new friends, how to make a friend,
             talk with strangers, make friends with a stranger, make friends with strangers, seeking new friends, communication for friendship, 
             friendship communication, converse with a friend, making cross cultural friends, make friends with someone from another culture, making friends,
              pathway to new friends, cross cultural socializing, common cultural habits, common cultures, cross cultural communication, cross cultural communication barriers,
               communication barriers, cross cultural conversation app, cross cultural differences, how to make cross cultural connections, 
               how to speak to another culture, penpal all, penpals, speaking to another culture, speaking with someone from another culture,
                game to make cross cultural connections, app for cross cultural conversation, connect with other cultures, media app, new social media, 
                social app, social media app, social media age, anonymous app, image app, image socializing app, social media apps, social media platforms,
                 socializing app, icebreaker app, image based symbology, best way to socialize, how to socialize, social, socializing, socializing with different cultures,
                  hold a conversation, converse with a stranger, how to converse, icebreaker game, icebreakers, games for icebreakers, how to break the ice, 
                  how to communicate, anonymous conversation, history of communication, connect the dots, Likes/Dislikes, Communication Driving forces, 
                  barriers to communication, break the ice, communication with symbols, archetypes, periodic table of symbols, symbolic communication, 
                  universal culture, universal language, universal meanings, universal meanings across cultures, universal tongue, universal truths, 
                  cross cultural communications, cross cultural, cross cultural conversations, make a new friend, talk to strangers, make friends from strangers,
                  how to make friends, how to make new friends, barriers to friendship, making friends with someone from another culture, cultural archetypes, 
                  cultural behavior, cultural differences, cultural memes, cultural similarities, penpal app, best nonprofit, best organization, nonprofits, 
                  nonprofit organizations, about us, non govermental organizations, ngo, international affairs, World Peace, World Peace possibility, 
                  is world peace possible, world peacekeeper, about world peace, stop wars, wars, treaties, peace treaties, peace, peace treaty, 
                  best organization for peace, organization for peace, how to stop fighting, war, nonprofit, tax exempt organization, peace organizations, 
                  peace groups, for peace, How to make the world better, make the world better, leave the world a better place, improve the world, 
                  can I change the world?, change the world, how to stop violence, stop violence, peace movements, make the world a better place,
                   you make the world a better place, the world would be a better place with more, make world better, ways to make the world a better place,
                    10 ways to make the world a better place, make the world better foundation, 100 ways to make the world a better place, 
                    let's make the world a better place, world a better place, creating a better world, better world, best world, the world would be a better place,
                     best charities to donate to, top charities to donate to, 10 best charities to donate to, best charities, great non profits, great charities to donate to,
                      best charities to donate money to, good charities to donate to, top 10 charities to donate to, top charities , elite charities,
                       best nonprofits to work for, best rated charities, best nonprofit websites, best harities to donate to 2020, top 100 charities, 
                       top non profit organization, best nonprofit organization, best nonprofits, make world beautiful, make world nicer, nice, nicer, 
                       the changing world order, Control, power, mighty, supreme, politics, politicians, influence, influential, omnipotent, how to control, 
                       government power, power moves, political power, gain power, power of peace, how to become powerful, powerful apps, powerful people, conquer, 
                       who has power, governing power, powerful mindsets, powerful knowledge, learn about power, how to gain control, control world, 
                       what is powerful, worlds most powerful people, powerful applications, seeking power, how to attain power, powerful programs,
                        powerful mobile apps, powerful decisions, apps that give me power, elevated mindsets, how people gain power, mobile application that gives me power,
                         powerful mobile applications, what gives you power, what will give me power, congressmen, house of representatives, senate, 
                         powerful governments, attain power, forms of rule, authoritariansm, dictator, communism, transfer power, balance of power,
                         power balance, power force, force, force of power, perforce, power symbols, international affairs, foreign affairs, who will have power,
                         change, powerful change, power change, change power, the changing world order, art, signs, symbology, symbols, symbolos meanings,
                          semiotics, universal language, ancient symbols, ancient signs and symbols signs and meanings, ancient symbols and their meanings, 
                          god symbols, art meaning, mythology symbols, ancient symbols and meanings, ancient art, god symbols and meanings, old symbols, 
                          symbol language, symbolic art, ancient symbols meaning, ancient signs, ancient god symbols, the god symbol, icons, heart symbol,
                           infinity symbol, degree symbol, and symbols, glyph meaning, arrow symbol, star symbol, female symbol, wingdings, pounds sign, 
                           pound sign, symbols meaning, aesthetic symbols, cool symbols, cute symbols, male symbol, check mark symbol, euro sign, altcodes,
                            gemini sign, neon signs, road signs, yield sign, custom neon signs, traffic signs, yard signs, street signs, exit sign, custom signs,
                             regulatory signs, no soliciting sign, caution sign, speed limit sign, led signs, digital sign, open sign, art, ancient art, old art,
                              digital art, museums, the metropolitan museum of art, paintings, frida kahlo, artforkidshub, van gogh, frida kahlo, georges seurat,
                              art gallery, art museum, museum of modern art, banksy, metropolitan museum of art, vincent van gogh, calligraphy, artist,
                               national gallery of art, pablo picasso, michelangelo, old art, best art, world peace, peace, understand peace, understand world peace, 
                               way to world peace, how to achieve world peace, steps to world peace, project for world peace, understand way to world peace, understand,
                               way to , steps to, report on world peace, report, understand a way, plan, plan world peace, guarantee peace, method to peace, method, 
                               method to world peace, understand peace through art, understand through art, art for peace, program for world peace, world peace program,
                               purpose, World Peace Impact, biggest impact on world peace, impact, world peace overview, overview, understand math of world peace,
                               world peace math, math, program for peace, thank you for your comprehension, the only way to guarantee peace, steps to peace, 
                               stepstopeace, understand my neighbors, understand my friends, help my friends, help my neighbors, understand each other, 
                               work with each other, work for peace, work towards peace, understand world and each other, understand my enemies, 
                               bring peace to my enemies, bring peace to my friends, bring peace, make friends, make peace, math for peace, peace math,
                               peace maker, peace keeper, understand, learn something new, understand way to peace, understand ways, understand peace, peace,
                                international affairs, foreign affairs, world wars, world war 1, world war 2, world war II, world war I, Politics, world peace, 
                                social bonds of society, social bonds, bonding, cross cultural understanding, understand a different culture, mis understanding, 
                                define understand, no understanding, do you understand, you will understand, mutual understanding, cultural understanindg, 
                                mutual understanding meaning, seek first to understand then to be understood, seek to understand before being understood, 
                                seek to understand before being understood, seek first to understand, need something new, need new thing, new thing, 
                                something new, new app, new mobile app, new world peace app, new thing to do for peace, new thing to do for world peace, 
                                new instagram alternative, new facebook alternative, new tik tok aleternative, new snapchat alternative, new whatsapp alternative, 
                                new social media alternative, new app for making friends, new smart app, new friendship app, new friend app, new friends with strangers, 
                                new friends, new cross cultural conversations, new cross cultural friends, new friends from a different culture, make new friends,
                                 how to make a new friend, talk with new strangers, talk with new people, new divination, new magic, new sense, new sense device,
                                  heart sense, new heart app, new god app, new heavens app, new communication for friendship, new divine, new friendship communication,
                                   converse with a new friend, making new cross cultural friends, make new friends with someone from another culture, 
                                   making new friends, pathway to new friends, new cross cultural socializing, new common cultural habits, new common cultures,
                                    new cross cultural communication, new reduced cultural communication barriers, reduced communication barriers, 
                                    new cross cultural conversation app, new cross cultural differences, how to make a new cross cultural connection, 
                                    new penpal app, new penpals, new app no communication barriers, speaking with someone new from another culture,
                                    game to make new cross cultural connections, new app for cross cultural conversations, connect with other new cultures,
                                     new media app, new social media , new social app, new social media app, new social media age, new anonymous app, 
                                     new image app, new image socializing app, new social media apps, new social media platforms, new socializing app, 
                                     new icebreaker app, new image based symbology, new best way to socialize, how to socialize new info, new social, 
                                     new socializing, socializing with new different cultures, hold a new conversation, converse with a new stranger, 
                                     how to start a new conversation, new icebreaker game, new icebreakers, new game for icebreakers, how to break the ice new info,
                                      how to communicate new info, new anonymous conversation, new history of communication, new connect the dots, new likes,
                                      new dislikes, new communication driving force, new way to break the ice, new communication with symbols, new periodic table of symbols, 
                                      new symbolic communication, new universal culture app, new universal language app, new unviversal meanings, 
                                      new universal meanings across cultures, new universal tongue, new universal truths, about new app, best new nonprofit,
                                       best new organization, new nonprofits, new nonprofit organizations, about us new, new non governmental organizations,
                                        new ngo, new international affairs, new cross cultural communications, new cross cultural, new world peace, 
                                        new world peace possibility, is world peace newly possible, new world peacekeeper, about world peace new, 
                                        new way to stop wars, no new wars, new treaties, new peace treaties, new peace, new peace treaty, 
                                        new best organization for peace, new organization for peace, new way to stop fighting, no new war, new nonprofit,
                                         new tax exempt organization, new peace organizations, new peace groups, new work for peace, new app for peace, 
                                         for new peace, make a new friend, talk to new strangers, make new friends from strangers, how to make new friends, 
                                         making new friends with someone from another culture, new cultural archetypes, new cultural behavior, 
                                         new cultural differences, new cultural memes, new cultural similarities, new object, I need an object, object, 
                                         new object, thing, device, immutable, inanimate, direct object, abstract object, immutable definition, 
                                         objects definition, mobile object, cell phone object, fun thing, favorite thing, my favorite things, android device, 
                                         android app, android, social media, social object, social media object, social, improvement, improve world, 
                                         improve myself, improve friendship, improve, make better, make myself better, make the world better, 
                                         signs of improvement, new and improved, improver, improved communication, communication barrier improved, 
                                         better communication skills, improve communication, to make better, change the world, change, change friends,
                                          improve friends, guidance, seeking guidance, best guidance, guide me, advice, best advice, best advice for me,
                                           advice for me, seeking advice, advisors, best advisors, seeking help, help, help me, self help, guidance from god,
                                            guidance from angels, guidance from heavens, prayer, prayers, pray for guidance, pray for help, prayers for guidance,
                                             prayers for help, reading gods signs, reading gods messages, does god speak to me, does god speak, can I talk with god, 
                                             god, allah, seeking help from god, praying for guidance and strength, praying for guidance and protection, praying for guidance, 
            scriptures on guidance, praying for wisdom and guidance, praying for guidance and direction, scriptures on direction and guidance, praying for god's guidance,
            gods guidance, asking god for guidance, guidance in the bible, seek and you will find, seeking gods direction, praying for god's direction, psalm for guidance,
             scripture for guidance and strength, I need guidance from god, god's guidance in decision making, scripture for guidance and wisdom, seeking guidance from god, 
             lord's guidance, scriptures on clarity and direction, divine guidance, divine direction, fortune telling, scriptures on divine direction and guidance, 
             scripture for guidance in decision making, good advice, best advice for life, life advisor, best advice ever, great advice, good life advice, best success advice, 
             good advice to give, best advice to give someone, advice prayer, wealth, knowledge wealth, wealth of knowledge, wealth in the afterlife, wealth in this life, 
             make me wealthy, knowledge is power, life wealth, generational wealth, common wealth, the god of money, accumulated wealth, wealth of information, 
             material wealth, rich and wealthy, a wealth of knowledge, the wealthy, wealthy person, uber wealthy, tangible wealth, grow wealth, great wealth, 
             a wealth of knowledge, being wealthy, a wealth of information, wealth is, create wealth, wealth creation, wealth create, building wealth, 
             building generational wealth, creating generational wealth, best way to build wealth, millennial wealth, build generational wealth, generate wealth, 
             building family wealth, next gen wealth, health, mental health, mental, make me stronger, make me healthier, make me mentally stronger, 
             make me mentally healthy, mentally healthy, healthy, get healthy, how to get healthy, healthy man, healthy living, healthy lifestyle, 
             healthy lifestyle, center plan for healthy living, healthier for live, center for healthy living, health life, the healthy life, 
             healthy living website, living a healthy lifestyle, healthy lifestyle, healthy living aurora, to live healthy, healthy life style habits, 
             healthy living program, healthey living center, healthy living habits, better for your health, healthy socialization, socialize for healthy, 
             positive mental health, improve mental health, exercising and mental health, topics for mental health, mental health activities, 
             exercising mental health, good mental health, ways to improve mental health, mental and emotional health, emotional mental health, 
             emotional health, mental health mind, mental health and wellbeing, general wellbeing, wellbeing, better mental health, 
             positive mental health awareness, activities to improve mental health, coping with mental health, emotional healthy, 
             mental health activities for adults, stress mental health, mental health advices, mental health and working, working for health, 
             health work, healthy mental health, things to improve mental healthy, things to improve health, healthy heart, hearty life, 
             living a better life, living a healthy life, living by the heart, follow your heart, heart health, knowledge, seeking a wealth of knoweldge, 
             wealth of knowledge, seeking knowledge, improve my knowledge, best knowledge, peace knowledge, knowledge to stop violence, 
             knowledge to stop wars, knowledge to bring peace, world peace knowledge, international knowledge, common knowledge, safe knowledge, 
             tacit, forbidden knowledge, knowledge is, book of knowledge, a priori knowledge, working knowledge, basic knowledge, background knowledge, 
             wisdom and knowledge, practical knowledge, to my knowledge, deep knowledge, gaining knowledge, cross cultural knowledge, cultural knowledge, 
             social knowledge, social science knowledge, science as social knowledge, knowledge base of social work, social knowledge in the making, 
             knowledge about social science, beauty, seeking beauty, make my heart beautiful, make world beautiful, make me beautiful, beautiful, nice, 
             make world nice, make world better, make world more beautiful, make more beautiful, more beautiful, nicer, better, great beauty, worldly beauty,
             abstract beauty, make world prettier, beauty supply, beauty world, world beauty, world of beauty, beautiful knowledge, world peace beauty, 
             need to be listened to, need to be heard, want to be listened to, need new friends, new friends to listen to, friends wont listen, strangers listen, 
             listen to strangers, hear new things, listen to something new, who will listen to me, listen to me, I want someone to listen to me, 
             do strangers listen, listen to new things, listen, heard, hear, seeking to be listened to, seeking to listen, me listen, talk to me, 
             someone to talk with, someone to talk to, talk with someone, talk, I hear, listen to friends, help, seeking to help, I want to help, 
             how to help, help someone, help something, help peace, help bring peace, help friends, help make friends, help world peace, 
             help bring world peace, help make world better, help improve world, help better world, to help, help better the world, help needed, 
             need your help, may I help you, we need your help, raise awareness, help out, help with, seek help, help me out, wisdom, wise, 
             wise knowledge, wisdom knowledge, cross cultural wisdom, world peace wisdom, peace wisdom, peace, world peace, wisdom in peace, 
             wisdom in world peace, wisdom for peace, wisdom for world peace, words of wisdom, wisdom quotes, wisdom of god, wisdom of the crowd, 
             scriptures on wisdom, wisdom quotes about life, ancient wisdom, wise business, wise international, wise laws, wise website, the wise company, 
             wise co, site wise, strength, peace strength, strength in peace, strong peace, strong, peace, world peace, strong world peace, 
             strength in world peace, world peace strength, strong peace movement, strongest peace movement, strongest peace organization, 
             strong peace organization, strong friends, make strong friends, friendship strength, strong relationships, strong bonds, strong social bonds, 
             strong socialization, strong socializing, make strong connections, strong connections, strong world peace movement, strongest world peace movement, 
             strongest world peace organization, strong world peace organization, strong world peace group, strongest world peace group, strong world peace force, 
             strongest world peace force, prayer for strength and peace, bible verse for peace and strength, scripture for strength and peace, peace and strength, 
             prayer of strength and peace, prayer for strength and world peace, scripture for strength and world peace, world peace and strengtth, 
             prayer of strength and world peace, better relationships, better relationship, relationships, build a better relationship, 
             build a stronger relationship, build a relationship, great relationships, emotional connection, social bonding, emotional relationship, 
             stranger relationships, relationships with strangers, relationship with strangers, relationship, good relationship, friend relationship, 
             good friend relationship, good friends, great friends, good friend, great friend, great relationships, great relationship, best friendship, 
             platonic relationship, friendship words, relationship advice, defining friendship, defining relationships, good friendship, great friendship, 
             real friendship, real friendships, your friendship, your relationship, pleasure, conversation, conversation pleasure, pleasure in conversation, 
             seeking pleasure, pleasure friendship, pleasure in friendship, pleasure relationship, converse for pleasure, cross cultural connection, 
             cross cultural pleasure, connecting for pleasure, pleasure in relationships, pleasure in, pleasure in knowledge, enjoyment in knowledge, 
             enjoyment, enjoyment in conversation, enjoyment in relationship, enjoy conversing, conversation enjoyment, enjoy, have fun, fun, pure pleasure, 
             pleasurable, pleasuring, it's a pleasure, it's my pleasure, private pleasure, pleasure to meet you, with pleasure, pleasurement, its my pleasure, 
             make fun, have fun, for fun, very fun, snsa fun, barrel of fun, it's fun, have some fun, it was fun, good fun, great fun, enjoying it, 
             enjoying yourself, I enjoy, thoroughly enjoyed, enjoy myself, enjoy your company, enjoy company, fullfill Gods wish, God, complete God's work, 
             Complete Allah's Work, God's commandments, Allah's commandments, Fulfill Allah's wish, Fulfill Gods command, God's work, Fulfill Allah's command, 
             Allah's work, Allah, god's command, allah's command, fullfill God's wish, complete Gods work, Complete Allahs Work, Gods commandments, Allahs commandments, 
             Fulfill Allahs wish, Fulfill God's command, Gods work, Fulfill Allahs command, Allahs work, gods command, allahs command, fulfill allahs will, 
             fulfill allah's will, fulfill God's will, fulfill Gods will, talk with god, speak with god, signs from god, messages from god, get closer to god, 
             how to get closer to god, how to speak with god, does god speak with me, communicate with Allah, talk with Allah, speak with Allah, signs from Allah, 
             messages from Allah, get closer to Allah, how to get closer to Allah, how to speak with Allah, does Allah speak with me, semiotics, messages in life, 
             signs in life, divine signs, divine messages, divine intervention, divine inspiration, divination, misguidance from the devil, guidance from god, 
             guidance from allah, get closer to god, keep god close, act to get closer to god, prayer to get closer to god, growing closer to god, ways to get closer to god,
              you get me closer to god, becoming closer to god, being close to god, I want to get closer to god, 5 ways to get closer to god, ways to grow closer to god,
               come closer to god, feeling closer to god, 3 ways to get closer to god, things to do to get closer to god, steps to get closer to god,
                prayer to grow closer to god, powerful prayer to get closer to god, prayer to get closer to jesus, growing closer to jesus, quran, bible, islam,
                 christianity, heart, use my heart, i want to use my heart, want to use my heart, heart power, heart work, show me someones heart, 
                 show me someone elses heart, show me a heart, follow your heart, power heart, power of the heart, guide your heart, let your heart guide you,
                  heart conversations, conversations from the heart, heart based conversations, heart guidance, youard your hearts, guide your heart and mind, 
                  donate, give to charity, donate money to charity, donate to charity, donation, donate to world peace, donate for world peace, charities to donate to,
                   best charities to donate to, donating to charity, charity navigator ratings, top charities to donate to, donate to peace, donate for peace, 
                   world peace charity, peace charity, donate to peace charity, donation for peace, charities for peace, charities for world peace, fund, 
                   world peace fund, world peace project donations, world peace donations, peace fund, gift to charity, fund world peace, peace fund, 
                   peace project donation, peace donations, impact the world, impact the peace movement, make an impact, volunteer, I want to volunteer, Help, 
                   I want to help, Let me help, change the world, I want to change the world, I want to help better the world, I want to improve the world, 
                   volunteer for peace, volunteer for world peace, help bring peace, help change the world, make the world better, How to make the world better,
                   make the world better, leave the world a better place, improve the world, can I change the world?, change the world, how to stop violence, 
                   stop violence, peace movements, make the world a better place, you make the world a better place, Impact the peace movement, 
                   Make an impact on the world, volunteer remotely, art volunteer, volunteer as an artist, volunteer opportunities, places to volunteer, 
                   volunteer online, volunteer work, volunteer connections, be the change you want to see in the world, the changing world order, 
                   if i could change the world, one man can change the world, world changing, i want to change the world, people changing the world, 
                   the world is changing, art volunteer remote, fight terrorists, terrorists, fight terrorism, terrorism, fight violent extremists, 
                   fight extremists, combat terrorist, stop terrorists, stop terrorism, change radicals narrative, change terrorists narrative, 
                   change narrative, fight taliban, combat extremists, stop violent extremists, stop extremists, extremists, violent extremists, 
                   radicals, radicals narrative, terrorist narrative, extremists narrative, violent extremists narrative, stop radicals, reform taliban, 
                   reform terrorists, change terrorists mind, change extremists mind, change radicals mind, change violent extremists mind, reform extremists, 
                   reform violent extremists, reform radicals, friends, instagram, facebook, tik tok, snapchat, whatsapp, Russia, Ukraine, world peace catalyst fund"></head>
<body>
    <div class = "background">
        <div class = "container">
        <h1 class = "header background">Conversation Wells</h1><br><br>
        <br><br>
        <a href="/assets/Treatesis of World Peace Logical Argument Diagram.pdf" 
        download="Logical Argument Diagram for Treatesis of World Peace.pdf">
           Logical Argument Diagram for the Treatesis of World Peace
        </a>
        <br>
        <a href="/assets/Treatises of World Peace - 2nd Draft.pdf" 
        download="Treatises of World Peace - 2nd Draft.pdf">
           Treatesies of World Peace - Working Theory behind mechanism
        </a>
        <br>
 
 
        <a href="/assets/The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf" 
        download="The Ghost Writer Experiment #1 – the natural phenomena of the heart.  The start of the Jedi.pdf">
           Heart Effect Experiment #1
        </a>
        <br>
        <a href="/assets/systemic social mechanism diagram.pdf" 
        download="systemic social mechanism diagram.pdf">
           Systemic Social Mechanism Diagram
        </a>
        
        <p >
       
    <br><br>
    The purpose of this report is to show the narrow focus of current political rhetoric when countries start
to engage in hostile relations and the one-way direction in which the conversation is structured.
Examples of countries engaging in hostile relations include Russia-Ukraine, Taiwan-China, IsraelPalestine, Armenia-Azerbaijan, etc. 
There is a general form of the conversation formed between any two
hostilities. I want to show that knowledge of the social bonds of society allows us to break this cycle. 

  
    <br><br>
    When two countries start to engage in hostile relations, there is a standard form of conversation and a
quick escalation thereof. The standard form of conversation goes something like this: One country wants
something from the other, usually land, and the other country resists. There is a one-way direction of
the conversation and that is war or the escalation of using non-conventional weapons. This is a
conversation well. I furnish specific details in the case study on Russia-Ukraine. 
    <br><br>
    The reason there is a standard structure is mob mentality. Politicians successfully use their rhetoric to
excite the masses. Once a mass group of people starts to think similarly, it becomes a mob mentality,
which is hard to stop. War is the inevitable result and is supported through a mob mentality. This is the
way mobs go unless they have pathways to think beyond the prevalent political rhetoric. These
pathways are the social bonds of society known by the public. 
    <br><br>
    If two countries socialize with each other enough, then they know enough about what they like and
what they don’t and know how to engage peacefully with each other. This knowledge is called the social
bonds of society. This knowledge does not guarantee aversion to war but provides counter thoughts and
arguments to hostile political rhetoric politicians try and push forth. The way it would manifest in reality
is that the countries could not fight each other because they were so many people on either side who
were friends with those on the other side. 

    <br><br>
    This is social vulcanization. It is similar to the vulcanization procedure used to produce rubber tires. If
you are unfamiliar, vulcanization is the process of adding sulfur to the rubber mixture which causes
cross-linking and gives rubber its consistency and ductility. If enough people from two countries were
friends with each other, they could not go to war with each other. There would be too many social
cross-links which result in a ‘bricking’. Politicians could not successfully get their people to engage in
warfare because of the social consistency. 
    <br><br>
    This goes back to the battle of good vs evil. People can choose which side they want to be on, pro-war or
pro-peace. The knowledge of the social bonds of society would need to be held and enacted by the good
people such that it becomes the dominant force and war is averted. This is the natural law of bigger
people playing law keepers. This is how war is averted. When there is a critical number of good people
enacting the social bonds of society, two countries cannot engage in warfare because they are friends
with each other. 

    <br><br>
    In conclusion, there is a standard structure of conversation between two hostile nations that has a oneway direction toward violence. This standard structure, I dub a conversation a well, as it is a deep hole.
The political use of mob mentality makes it easy to start wars. Knowledge of the social bonds of society
allows the masses to establish pathways out of mob mentality which bricks a politician’s effort to start a
war. Evidence of this is seen in the protests and sabotage done by Russian soldiers in the Russia-Ukraine
war.
    <br><br>

    



            Get the full argument for World Peace by signing up for our newsletter below.
        
        
        
        
        
        
        
        </p>
    
    </div>
        </div>
    </body>
        